{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{%block title%}
  groups | MrSocial
{% endblock%}

{% block content %}
  <div class="groupoptions"> 
    <div class="groupsearch">
      <form>
           {% url 'groups:search' as url%}
          <input type="search" placeholder="groups search" onkeyup="GroupSearch(event,this,'{{url}}')"/> 
      </form>
    </div>
    <div class="createbutton">
      {% url 'groups:create-group' as url%}
      <button class='create' onclick="getgroupcreateform('{{url}}')"><i class="fas fa-plus"></i> Create</button>
      <button class='cancel' style="display:none" onclick="closegroupform()"><i class="fas fa-plus"></i> cancel</button>

    </div>
  </div>
  <div class="optionsresult">
  </div>  
  <div class="grouplist">
     <h2>Groups List</h2>
     <div class="groupitems">
      {%if user.mygroups.count > 0 or user.usergroups.count > 0%}
      {%for group in user.mygroups.all%}
         {%include 'groups/group_item.html' with group=group %}
      {% endfor %}
      {%for group in user.usergroups.all%}
         {%include 'groups/group_item.html' with group=group %}
      {% endfor %}
      {%else%}
      <div class='nogroups'>
        <p> you have no groups try to join or create groups.</p>
      </div>
      {%endif%}
     </div> 
  </div>
  <div class='makespace'>
  </div>
{% endblock %}