html
{
    width: 100%;
    height: 100%;
}
body
{
    background-color: #F2EEE4;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
body::-webkit-scrollbar,textarea::-webkit-scrollbar,div.groupmembers::-webkit-scrollbar
,div.showscroll::-webkit-scrollbar,div.activityitem::-webkit-scrollbar
,div.notificationlist::-webkit-scrollbar,#basesearchresult::-webkit-scrollbar

{
     width: 10px;
}
body::-webkit-scrollbar-track,textarea::-webkit-scrollbar-track,div.groupmembers::-webkit-scrollbar-track
,div.showscroll::-webkit-scrollbar-track,div.activityitem::-webkit-scrollbar-track
,div.notificationlist::-webkit-scrollbar-track,#basesearchresult::-webkit-scrollbar-track
{
     background: #F2EEE4;
}
body::-webkit-scrollbar-thumb,textarea::-webkit-scrollbar-thumb,div.groupmembers::-webkit-scrollbar-thumb
,div.showscroll::-webkit-scrollbar-thumb,div.activityitem::-webkit-scrollbar-thumb
,div.notificationlist::-webkit-scrollbar-thumb,#basesearchresult::-webkit-scrollbar-thumb
{
     background: lightgray;
     border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover,textarea::-webkit-scrollbar-thumb:hover
,div.groupmembers::-webkit-scrollbar-thumb:hover,div.activityitem::-webkit-scrollbar-thumb:hover
,div.notificationlist::-webkit-scrollbar-thumb:hover,#basesearchresult::-webkit-scrollbar-thumb:hover
{
     background: grey;
}
div.welcome 
{
     position: relative;
     display: block;
     top:2vw;
     background-color: inherit;
     margin:auto;  
     width:50%;
     height:40vw;

}
div.welcome img
{
     position: relative;
     width: 100%;
     height: 50%;
     object-fit: cover;   
}

div.welcome h1,div.welcome h4
{
     text-align: center;
     margin: auto;
     color:#5065A8;
     font-family:Quicksand,sans-serif,serif;
} 
div.welcome h1
{
     font-size: 2vw;
}
div.welcome span
{
     font-family: lato, sans-serif,serif;
     font-weight: bolder;   
}
div.auth
{
     display: block;
     position: relative;
     width: 100%;
     top: 10%;
     margin: auto;
}
div.auth button
{
     display: inline-block;
     position: relative;
     margin: 3vw;
     padding: 10px;
     width: 30%;
     background-color: #66ff33;
     border: 3px solid whitesmoke;
     border-radius: 10px;
     cursor: pointer;
     box-shadow: 2px 4px 8px 2px lightgrey, 2px 6px 20px 2px lightgray;

}
div.auth button a
{
    font-family: lato,sans-serif,serif;
    font-weight: bolder;
    font-size:2vw;
    text-decoration: none;
    color:whitesmoke;
}
button.login
{
    float: left;
}
button.signup
{
    float: right;
}
div.logo
{
     position: relative;
     display: inline;
     float: left;
     width: 58%;
     height: 40vw;
     /*border: 1px solid red;*/
}

div.login
{
     position: relative;
     display: inline;
     float: right;
     right:5vw;
     width: 30%;
     top:3vw;
     height: auto;
     /*border: 2px solid #5065A8;*/
     background-color: #5065A8;
     border-radius: 10px;
     box-shadow: 2px 4px 8px 2px lightgrey, 2px 6px 20px 2px lightgray;
}
div.signup
{
     top:.5vw;
}
div.logo img 
{
     width: 100%;
     object-fit: cover;
     height: 100%;
     position: relative;
}
div.loginlogo
{
     position: relative;
     display: block;
     width: 100%;
     height:auto;
     border-radius: 10px 10px 0px 0px;
     background-color: #5065A8;
     background-image: url('/static/images/logo/MrSocial-logos_white_icon.png');
     background-repeat: no-repeat;
     background-position: 20% 10%;
     background-size: contain;
}
div.loginlogo h2
{
     display: inline-block;
     position: relative;
     top:.3vw;
     left:40%;
     font-family: Lato, sans-serif,serif;
     color: whitesmoke;
     font-size: 3vw;
}
div.loginform,div.Signupform,div.ResetEmailform ,div.updateform
{
     position: relative;
     display: block;
     width: 100%;
     left:0px;
     background-color: whitesmoke;
     margin-top: 0vw;
     height: 70%;
     border-radius: 10px 10px 5px 5px;
}
div.updateform
{
     left:auto;
     height: auto;
     background-color: whitesmoke;
     top: 7vw;
     width: 50%;
     margin: auto;
     border-radius: 10px;
}
div.formerror ,div.fielderror,div.formmessage
{
     position: relative;
     display: block;
     width: 100%;
     height:auto;
     border: 1px solid red;
     background-color: rgb(235, 98, 98);
     border-radius: 10px 10px 0px 0px;
}
div.Signupform div.inputcontainer:first-of-type
{
     margin-top: 1vw;
}
div.fielderror
{
     border-radius: 10px;
     width:93.5%;
     margin: auto;
     margin-top: 1vw;
     margin-bottom: 0vw;
}
div.updateform div.fielderror
{
     width:80%;
}
div.formerror ul,div.fielderror ul
{
     list-style-type: none;
     position: relative;
     display: block;
     color: whitesmoke;
     font-family:Quicksand,sans-serif,serif;
     font-weight: bold;
     text-transform: capitalize;
     word-wrap: break-word;
}
div.formmessage
{
     background-color: inherit;
     width:94%;
     margin: auto;
     border:none;
}
div.formmessage h4 , div.formmessage p
{
     font-family: QuikSane,sans-serif;
     color: #5065A8;
     text-align: left;

}
div.loginform form,div.Signupform form,div.updateform form
{
     position: relative;
     display: block;
     width: 100%;
     height:100%;
     border-radius: inherit;
}
div.inputcontainer:first-of-type
{
     top: 2vw;
}
div.inputcontainer,div.updateform div.file
{
     position: relative;
     display: block;
     top:1vw;
     margin-top: 2vw;
     width: 100%;
     height:auto;
}
div.updateform div.inputcontainer,div.updateform div.file
{
     width:80%;
     margin: auto;
     margin-top: 2vw;
}
div.updateform div.file
{
     display: flex;
     width:70%;
}
div.inputcontainer i
{
     position: relative;
     display: inline;
     color:whitesmoke;
     padding: 11px;
     background-color: #5065A8;
     font-size: 1.5vw;
     left:1vw;
     top:2px;
     text-align: center;
     border-radius: 5px 0px 0px 5px;
}
div.updateform form input[type=file]
{
     display: none;
}
div.updateform form div.file label,div.creategroup form label,div.updategroup form label
{
     width: 80%;
     border-radius: 10px;
     background-color: #5065A8;
     opacity: 0.7;
     padding: 10px;
     border: 1px solid #F2EEE4;
     text-align: center;
     margin: auto;
     color: #F2EEE4;
     cursor: pointer;
}
div.creategroup form label,div.updategroup form label
{
     font-size: 1.2;
     border-radius: 5px;
}
div.updateform form div.file label:hover,div.creategroup form label:hover,div.updategroup form label:hover
{
     opacity: 1;
}
div.updateform div.file label i,div.creategroup form label i,div.updategroup form label i
{
  margin-right: 1vw; 
} 
div.inputcontainer input 
{
     position: relative;
     display: inline;
     width: 77%;
     padding: 12px;
     outline: none;
     left: 0.7em;
     margin: 0px;
     border: 1.5px solid lightgray;
     border-left:none ;
     border-radius: 0px 5px 5px 0px ;
}
div.inputcontainer input:focus
{
     border: 1px solid #5065A8;
     font-family: Lato, Helvetica, sans-serif;
     font-weight: bold;
}
div.loginform h4
{
     display: block;
     position: relative;
     text-align: right;
     margin-top:2vw;
     margin-right: 1vw;
     font-family: lato,serif;
}
div.loginform h4 a , div.emailsent div a
{
     text-decoration: none;
     color: rgb(56, 167, 204);
}
div.loginform h4 a:hover , div.emailsent div a:hover
{
     text-decoration: underline;
     color: #5065A8;
}
button.submit
{
     position: relative;
     display: block;
     width:65%;
     padding: .5vw;
     margin: auto;
     background-color: #5065A8;
     color:whitesmoke;
     font-family: QuikSand,sans-serif,serif;
     top:.5vw;
     font-size: 2vw;
     font-weight: bold;
     border: 2px solid  whitesmoke;
     border-radius:10px ;
     cursor: pointer;
     box-shadow: 2px 4px 8px 2px lightgrey, 2px 6px 20px 2px lightgray;
}
div.Signupform button.submit
{
     margin-top: 3vw;
     top: auto;
}
div.updateform button.submit
{
     margin-top: 5vw;
     top: auto;
     width:70%;
     padding: 10px;
     font-size: 1.2vw;
}
div.changepasswordform button.submit
{
     width:60%;
     margin-top:3vw;
}
button.submit:hover
{
     border: 2px solid  #5065A8;
     background-color: whitesmoke;
     color:#5065A8;
}
div.ResetEmailform button.submit
{
     margin-top: 3vw;
     font-size: 1.5vw;
}
div.go_signup
{
     position: relative;
     display: block;
     margin-top: 8vw;
     bottom:2vw;
     padding: 5px;
     text-align: center;
     width:100%;
}
div.Signupform div.go_signup
{
     margin-top: 6vw;
     bottom: 1vw;
}
div.updateform div.go_signup
{
     margin-top:5vw;
}
div.ResetEmailform div.go_signup
{
     margin-top: 3vw;
     bottom: 1vw;
}
div.go_signup p ,div.go_signup a 
{
    position: relative;
    display: inline;
    color:#5065A8;
    font-family: QuikSand,serif,sans-serif;
}
div.go_signup a
{
    text-decoration: none;  
    color:rgb(57, 235, 57);
}
div.emailsent
{
     position: relative;
     display: block;
     margin: auto;
     background-image: url('/static/images/logo/MrSocial-logos_transparent.png');
     background-color: #F2EEE4;
     background-position:left;
     background-size: cover;
     background-repeat: no-repeat;
     height: 30vw;
     width: 55%;
}
div.emailsent div
{
     position: relative;
     display: inline-block;
     width: 100%;
     height: auto;
     padding: 10px;
     margin-top: 40%;
}
div.emailsent div h1 ,div.emailsent div p
{
     color: #5065A8;
     font-family: QuiKSand,sans-serif,serif;
     text-align: left;   
     font-weight: bold;
     word-wrap: break-word;
}
#sidemenu 
{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0vw;
  left: 0vw;
  background-color: #5065A8;
  overflow: hidden;
  transition: 0.5s;
}
#content
{
     position: relative;
     height: 100%;
     transition: margin-left .5s;
}
#navbar
{
     position: fixed;
     width: 100%;
     z-index: 1;
     top: 0vw;
     right: 0vw;
     background-color: inherit;
     transition: width .5s;
     background-color: whitesmoke;
}
#notification_sidemenu,#basesearchresult
{
     display: none;
     z-index: 2;
     border-radius: 10px;
     background-color: whitesmoke;
     border: 2px solid lightgray;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#notification_sidemenu
{
     position:fixed;
     right:0.2vw;
     top:4vw;
     width:30%;
}
#basesearchresult
{
     max-height: 35vw;
     overflow-y: auto;
     overflow-x: hidden;
     position: absolute;
     width: 100%;
     border-radius: 0px 0px 10px 10px;
}
div.notification_header
{
     position: relative;
     display: block;
     width: 100%;
     border-bottom: 1px solid lightgray;
}
div.notification_header h2
{
     font-family: Lato,sans-serif;
     color: #5065A8;
     text-indent: 3px;
     margin-bottom:0.2vw;
}
div.notificationlist
{
     position: relative;
     display: block;
     margin-top: 0.5vw;
     background-color: inherit;
     width: 100%;
     max-height: 35vw;
     overflow-x: hidden;
     overflow-y: auto;
     border-radius: inherit;
}
div.togglemenu,div.notification,div.search
{
     position: relative;
     display:block;
     width: auto;
     height: auto;
}
div.togglemenu,div.notification
{
     top: 1vw;
}
div.togglemenu
{
     margin-left: 1vw;
     float: left;
}
div.search
{
     width:30%;
     margin:auto;
     float: left;
     margin-left:32%;
     margin-top:1vw;
     margin-bottom: 0.5vw;
     border: none;
}
div.search #search,div.groupoptions div.groupsearch input
{
     background-color:inherit;
     background-image: url('/static/images/search-icon.png');
     background-position: 5px 5px;
     background-size: 30px 30px;
     background-repeat: no-repeat;
     width: 100%;
     box-sizing: border-box;
     border: 2px solid lightgray;
     border-radius: 10px;
     font-size: 16px;
     padding: 12px 20px 12px 50px;
     color: #5065A8;
     font-family: QuikSand,sans-serif,serif;
     cursor: pointer;
     outline: none;
}
div.search #search
{
     width: 101%;
}
div.groupoptions div.groupsearch input
{
     border: 1px solid lightgray;
     width: 45%;
     font-size: 1vw;
     border-radius: 5px 5px 0px 0px;
     border-bottom: none;
     padding: 10px 5px 5px 30px;
     background-size: 20px 20px;
}
div.search #search:hover,div.addpost form textarea:hover,div.groupoptions div.groupsearch input:hover
{
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
div.search #search:focus
{
     border: 2px solid #5065A8;
}
div.groupoptions div.groupsearch input:focus
{
     border-color:#5065A8;
}
div.notification
{
    float: right;
    margin-right: 3vw;   
}
div.togglemenu button,div.notification button
{
     position: relative;
     margin:auto ;
     font-weight: bold;
     font-size: 2vw;
     border: none;
     outline: none;
     cursor: pointer;
     text-align: center;
     border-radius: 5px;
     padding-top: 2px;
}
div.togglemenu button
{
     color: #5065A8;
     background-color: whitesmoke;
     padding-top:3px;
}
div.notification button
{
     color: #F2EEE4;
     background-color: #5065A8;
     padding-top: 5px;
     border-radius: 10px;
     border: 1px solid whitesmoke;
}
div.notification button:hover
{
     color: #5065A8;
     background-color: #F2EEE4;
     border: 1px solid #5065A8;
}
div.togglemenu button:hover
{
     background-color: #5065A8;
     color: whitesmoke;
}
button.open
{
     display: block;
}
button.close
{
     display: none;
     transform: rotate(90deg);
}
span.badge,span.imgdelete,span.profileimgdelete,span.updateimgdelete,span.groupimgdelete
{
     position:absolute;
     right:-10px;
     top:-10px;
     min-width:10px;
     min-height:10px;
     line-height:10px;
     padding:5px;
     color:whitesmoke;
     background-color:#bf1f1f;
     font-size:.8vw;
     border-radius:10px;
     text-align: center;
     border:solid 1px #c93a3a;
     cursor: pointer;
}
#sidemenu div.profileimage
{
     position: relative;
     display: block;
     height: 130px;
     width: 130px;
     background-color: whitesmoke;
     margin: auto;
     margin-top:1vw;
     padding: 5px;
     border-radius: 100%;
}
#sidemenu div.profileimage img
{
     object-fit: cover;
     width: 100%;
     height:100%;
     border-radius:100%;
}
#sidemenu div.username
{
     position: relative;
     display: block;
     margin: auto;
     margin-top: 1vw;    
}
div.username span
{
     color:whitesmoke;
     font-family: QuikSand,serif;
     text-align: center;
     display: block;
}
div.userinfo
{
     position: relative;
     display: block;
     width: 100%;
     margin-top: 1vw;
}
div.userinfo button
{
     position: relative;
     display: inline;
     margin-left:5px;
     width:47%;
     padding: 5px;
     font-family: lato,serif;
     font-weight: bold;
     text-align: center;
     text-transform: capitalize;
     color: #F2EEE4;
     background-color: inherit;
     border-radius: 5px;
     cursor: pointer;
     border: none;
     margin-left: 1px;
     margin-right: 3px;
}
div.userinfo button:hover,div.navbarlist button:hover
{
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
div.navbarlist
{
     position: relative;
     display: block;
     width: 100%;
     background-color: inherit;
}
div.navbarlist a
{
     text-decoration: none;
}
div.navbarlist button
{
     position: relative;
     display: block;
     width: 100%;
     padding: 1vw;
     border: none;
     font-family: QuikSand,sans-serif,serif;
     color: #F2EEE4;
     text-align: center;
     cursor: pointer;
     background-color: #5065A8;
     font-weight: bold;
     border-radius: 5px;
     font-size: 1.2vw;
     margin-bottom: 1vw;
     text-transform: capitalize;
}
div.navbarlist button i ,button.logout a i
{
     margin-right: .5vw;
}
button.logout
{
     display: block;
     position: relative;
     padding: 10px;
     width: 80%;
     margin: auto;
     margin-top: 3vw;
     background-color: #F2EEE4;
     border: 2px solid #c93a3a;
     border-radius: 10px;
     cursor: pointer;  
}
button.logout a
{
     font-family: lato,sans-serif,serif;
     font-weight: bolder;
     font-size:1.4vw;
     text-decoration: none;
     color:#bf1f1f;
}
div.addpost,div.groupleft,#createdpost,#showpostdatail
,#showprofilepost,#showhomepost,div.groupoptions,div.optionsresult
,div.grouplist,div.createpostgroup,div.groupposts
,div.groupmembers,div.activitylist,div.friendrequests,div.friends,div.blocks
{
     position: relative;
     display: block;
     width:40%;
     border-radius: 10px;
     border: 2px solid lightgray;
     margin: auto;
     top:15%;
}
#createdpost
{
     display: none;
     margin-top: 2vw;
}
#showhomepost
{
   margin-top: 1vw;
}
div.activitylist
{
     background-color: whitesmoke;
     border-radius: 5px;
     width:50%;
     padding: 5px;
     padding-right: 7px;
}
div.authactivity
{
     margin-top:1vw;
}

div.friendrequests,div.friends,div.blocks
{
     background-color: whitesmoke;
     width: 45%;
     border-radius: 5px;
}
div.friends,div.blocks
{
     margin-top: 1vw;
}
div.groupleft,div.createpostgroup,div.groupposts
{
     border: none;
     width: 60%;
     top: auto;
     margin-left: 0vw;
     margin-top: 1vw;
}
div.createpostgroup,div.groupposts{
     width: 100%;
}
div.groupleft
{
     float: left;
     margin-top: 0vw;
}
div.groupmembers
{
     width:38%;
     float: right;
     margin-top: 1vw;
     margin-left: 0vw;
     max-height:20vw;
     overflow-y: auto;
     overflow-x: hidden;
}
div.groupposts
{
     background-color: inherit;
}
div.postlist
{
     position: relative;
     display: block;
     width: 100%;
     background-color: inherit;
}
div.createpostgroup div.addpost
{
     width: 100%;
     top: auto;
}
#showgrouppost
{
    position: relative;
    display: block;
    width: 100%;
    border-radius: 10px;
    border: 2px solid lightgray;
    margin-bottom: 1vw;
}
div.friends div.topbar
{
     position: relative;
     display: flex;
     width: 100%;
     border-bottom: 1px solid lightgrey;
     padding:3px 0px;
}
div.friendrequests h2,div.friendrequests div.slider h4,div.blocks h2
{
     position: relative;
     display: block;
     color: #5065A8;
     font-family: Lato,sans-serif;
     width: 100%;
     text-align: center;
     margin-top: 0vw;
     margin-bottom: 0vw;
     padding: 5px 0px;
     border-bottom: 1px solid lightgray;
}
div.friends div.topbar h2
{
     position: relative;
     text-align: left;
     width: 40%;
     text-indent: .5vw;
     color:#5065A8;
     font-family: Lato,sans-serif;
     margin-top: 0vw;
     margin-bottom: 0vw;
}
div.friends div.topbar div.searchfriends
{
     position: relative;
     width: 60%;
}
div.topbar div.searchfriends input
{
     position: relative;
     display: block;
     width: 60%;
     float: right;
     margin-right:0.2vw;
     padding: 5px;
     outline: none;
     border:2px solid lightgrey;
     border-radius: 5px;
     font-family: Lato,sans-serif;
}
div.topbar div.searchfriends input:focus
{
     border: 2px solid #5065A8;
}
div.friendrequests div.slider h4,div.blocks h2
{
    text-align: left;
    text-indent: .5vw;
    margin-bottom: 0.5vw;
    padding-bottom:7px;
}
div.friendrequests div.slider h4 span,div.friends h2 span,div.blocks h2 span
{
    background-color: #5065A8;
    color: whitesmoke;
    border: 2px solid #5065A8;
    border-radius: 5px;
    padding: 2px 10px;
    font-family: QuiKSand,sans-serif;
    font-size: 1vw;
}
div.friendrequests div.buttons
{
     position: relative;
     display: flex;
     width: 100%;
     padding-top:5px;
     padding-bottom: 5px;
     border-bottom: 1px solid lightgrey;
}
div.buttons button
{
    width: 35%;
    margin: auto;
    background-color: #5065A8;
    outline:none;
    color:#F2EEE4;
    font-family:Lato,sans-serif;
    font-size: 1.2vw;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #5065A8;
    border-radius: 5px;
    text-transform:capitalize;
    opacity: 0.7;
}
div.buttons button:focus
{
    opacity: 1;
}
div.friendrequests div.slider
{
     position: relative;
     display: block;
     width: 100%;
     background-color: whitesmoke;
}
div.slider div.sentrequests,div.slider div.recivedrequests,div.recievedlist,div.sentlist
,div.friends div.friendslist,div.friends div.searchresultlist,div.blocks div.blocklist
{
     position: relative;
     display: block;
     width: 100%;
     background-color: whitesmoke;
     margin: auto;
     margin-top: .5vw;
}
div.friends div.searchresultlist
{
     display: none;
     margin-top: 0vw;
     background-color:#F2EEE4;
}
div.showscroll
{
     max-height: 20vw;
     overflow-x: hidden;
     overflow-y: auto;
}
div.slider div.recivedrequests
{
     display: none;
}
#showprofilepost
{
     width: 45%;
     margin-top: 1vw;
}
div.groupoptions,div.optionsresult,div.grouplist
{
     width: 45%;
     padding: 5px;
     border:none;
     border-radius: 0px;
     border-bottom: 1px solid #5065A8;
}
div.optionsresult
{
     display: none;
     border-radius:0px 0px 5px 5px;
     border:1px solid #5065A8;
     border-top: none;
     background-color: whitesmoke;
}
div.grouplist
{
    border:1px solid #5065A8;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-top: 2vw;
}
div.grouplist h2,div.groupmembers h3,div.activitylist h3,#basesearchresult h3
{
     position: relative;
     display: block;
     width: 100%;
     text-align: left;
     color:#5065A8;
     font-family:Lato,sans-serif;
     border-bottom: 1px solid lightgray;
}
div.groupmembers h3,div.activitylist h3,#basesearchresult h3
{
     text-indent: 0.5vw;
}
div.activitylist h3,#basesearchresult h3
{
     padding-bottom:5px;
}
div.activityitem h3
{
     font-family: QuikSand,sans-serif; 
     margin-bottom: 0vw;
}
div.activityitem h3 span
{
     color:rgb(63, 115, 133);
     font-family: Lato,sans-serif;
     text-transform: capitalize;
}
div.activityitem h3 span.date
{
     font-size: 1vw;
}
div.activityitem
{
     overflow-x: auto;
}
div.activityitem table
{
     position: relative;
     border: 1px solid lightgray;
     margin: auto;
     margin-top: 0.5vw;
     margin-bottom: 0.5vw;
     width: 99%;
     border-collapse:collapse;
}
table caption
{
   font-family: Lato,sans-serif;
   background-color: #5065A8;
   color: white;
   margin: auto;
   text-transform: capitalize;
   border: 1px solid lightgray;
   border-radius:5px 5px 0px 0px;
   padding: 2px 0px;
}

div.activityitem table td,div.activityitem table th
{
   padding: 3px;
   text-align: center;
   border: 1px solid lightgray;
   font-family: Lato,sans-serif;
   text-transform: capitalize;
   padding: 5px;
}

div.activityitem table th{
     background-color: #5065A8;
     color: white;
     font-size: 1vw;
}
div.activityitem table td{
     color:rgb(63, 115, 133);
}
div.groupitems
{
    position: relative;
    display: block;
    width: 100%;
    background-color: inherit;
}
div.groupitems p
{
     position: relative;
     display: block;
     font-family: QuikSand,sans-serif;
}
div.groupitems p span
{
     font-family: Lato,sans-serif;
     color:#5065A8;
}
div.groupoptions div.groupsearch
{
     position: relative;
     display: inline-block;  
     width: 75%;
     left: -.4vw;
     bottom: -0.5vw;
}
div.groupoptions div.createbutton
{
     position: relative;
     display: inline-block;
     width: 22%;
     bottom: -0.1vw;
     right: -1.3vw;
}
div.groupoptions div.createbutton button
{
     position: relative;
     display: block;
     bottom: -.3vw;
     width: 100%;
     background-color: #5065A8;
     border: 1px solid #5065A8;
     border-radius: 5px 5px 0px 0px;
     opacity: 0.7;
     outline: none;
     color:whitesmoke;
     cursor: pointer;
     padding: 5px;
     font-size: 1.2vw;
}
div.groupoptions div.createbutton button:hover
{
     opacity: 1;
}
div.creategroup,div.updategroup
{
     position: relative;
     display: block;
     width: 100%;
     border-radius: inherit;
     background-color: inherit;
}
div.updategroup
{
   display: none;  
}
div.creategroup form,div.updategroup form
{
     position: relative;
     display: block;
     width: 100%;
     background-color: whitesmoke;
     border-radius: 5px;
}
div.updategroup form
{
     border-radius: inherit;
}
div.creategroup form div.inputscontainer,div.updategroup form div.inputscontainer
{
     position: relative;
     display: block;
     width:80%;
     padding: 5px;
     margin: auto;
}
div.creategroup form div.inputscontainer input,div.creategroup form div.inputscontainer label,div.creategroup form div.inputscontainer textarea,div.updategroup form div.inputscontainer input,div.updategroup form div.inputscontainer label,div.updategroup form div.inputscontainer textarea
{
     position: relative;
     display: block;
     width:100%;
     margin-top: 1vw;
     outline: none;
}
div.creategroup form div.inputscontainer input[type=text],div.updategroup form div.inputscontainer input[type=text]
{
    padding: 10px;
    border: 1px solid lightgray;
    font-size: 1.2vw;
    font-family: QuikSand,sans-serif;
    border-radius: 5px;
}
div.creategroup form div.inputscontainer input:focus,div.updategroup form div.inputscontainer input:focus
{
     border: 1px solid #5065A8;
}
div.creategroup form div.inputscontainer input[type=file],div.updategroup form div.inputscontainer input[type=file]
{
     display: none;
}
div.makespace
{
     position: relative;
     display: block;
     margin: auto;
     top: 15%;
     height: 2%;
     margin-top: 3vw;
}
div.addpost #PostForm div.posterrors,div.addpost #PostForm div.postdone,div.posteditform form div.posterrors,div.commenterror,div.creategroup form div.groupdone,div.creategroup form div.grouperrors,div.updategroup form div.groupdone,div.updategroup form div.grouperrors
{
     position: relative;
     display: none;
     width: 90%;
     border:1px solid #bf1f1f;
     border-radius:10px;
     color: whitesmoke;
     background-color: #c93a3a;
     padding: 5px;
     margin: auto;
     margin-top:1vw;
}
div.addpost #PostForm div.postdone,div.creategroup form div.groupdone,div.updategroup form div.groupdone
{
     background-color: lightgreen;
     border: 1px solid green;
}
#PostForm div.posterrors ul,div.addpost #PostForm div.postdone ul,div.posteditform form div.div.posterrors ul,div.commenterror ul,div.creategroup form div.groupdone ul,div.creategroup form div.grouperrors ul,div.updategroup form div.groupdone ul,div.updategroup form div.grouperrors ul
{
     position: relative;
     list-style-type:none;
     left:-3vw;
     width: 100%;
     text-align: center;
     font-family: QiukSand,sans-serif,serif;
}
div.addpost div.addpostinfo ,div.profile div.profileinfo,div.group div.groupinfo
,div.postdetail div.ownerinfo,div.postdetail div.comments div.commentdetail div.content
,div.groupitem,div.activityitem,div.useritem,div.notificationitem
{
     position: relative;
     display: flex;
     width: 100%;
}
#basesearchresult div.groupitem
{
     width: 98%;
     margin: auto;
}
div.postdetail div.showlikes
{
     position: absolute;
     display: none;
     width:40%;
     z-index: 2;
     left:0%;
     background-color: #5065A8;
     border: 1px solid #F2EEE4;
     border-radius: 10px;
}
div.postdetail div.shares
{
     right: 0%;
     left: auto;
}
div.postdetail div.showlikes div.like,div.groupmembers div.member
{
     position: relative;
     display: block;
     width: 100%;
     margin-bottom: 0.5vw;
}
div.postdetail div.showlikes button
{
    position: relative;
    display: block;
    width: 100%;
    background-color: #5065A8;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    outline:none;
    border: none;
    color:#F2EEE4;
    font-family:Lato,sans-serif;
    font-size: 1.2vw;
    cursor: pointer;
}
div.postdetail div.showlikes div.usernames span
{
     color: #F2EEE4;
}
div.member div.usernames span
{
    color: #5065A8;
    font-family: lato,sans-serif;
    text-transform: capitalize;
}
div.comments div.comment,div.comments div.commentdetail
{
     display: block;
     width:100%;
}
div.postdetail div.ownerinfo,div.groupitem,div.activityitem,div.useritem,div.notificationitem
{
     display: block;
}
div.groupitem,div.activityitem,div.useritem,div.notificationitem
{
     border:1px solid lightgray;
     border-radius: 5px;
     margin-bottom: .5vw;
}
div.notificationitem 
{
     background-color: whitesmoke;
     width: 95%;
     margin: auto;
     margin-bottom: .5vw;
     cursor: pointer;
     opacity: 0.7;
}
div.unread
{
     background-color: lightgray;
} 

div.notificationitem:hover 
{
     opacity:1;
}
div.useritem
{
     width: 98%;
     margin: auto;
     margin-bottom: 0.5vw;
     background-color: whitesmoke;
}
div.postdetail div.sharedpost
{
     position: relative;
     display: block;
     width:100%;
     border-radius: 5px 10px 0px 0px;
     background-color: lightgray;
     padding: 1px;
}
div.postdetail div.sharedpost p
{
     display: block;
     font-family: lato,sans-serif,serif;
     color: grey;
     font-size: 1.2vw;
     margin-left: .5vw;
}
div.postdetail div.ownerinfo div.info,div.postdetail div.showlikes div.info,div.member div.info
,div.groupitem div.groupiteminfo,div.notificationitem div.notificationiteminfo,div.activityitem div.activitymessage,div.useritem div.useriteminfo
{
     position: relative;
     display: inline-block;
     top: -1.5vw;
     margin-left: 0.3vw;
}
div.groupitem div.groupiteminfo,div.useritem div.useriteminfo
{
     padding: 0px;
}
div.groupitem div.groupiteminfo ul
{
     position: relative;
     display: block;
     list-style-type: none;
     padding-left: 0vw;
}
div.groupitem div.groupiteminfo ul li
{
     display: block;    
}
div.groupitem div.groupiteminfo ul li:first-child
{
     color: #5065A8;
     font-family: Lato,sans-serif;
     font-size: 1.2vw;
}
div.groupitem div.groupiteminfo li:last-child
{
   margin-top: 0.2vw;  
   font-family: QuikSand,sans-serif;
   font-size: 1vw;
   word-wrap:break-word;
}
div.useritem div.useriteminfo span
{
     position: relative;
     display: block;
     color: #5065A8;
     font-family: Lato,sans-serif;
     font-size: 1.2;
}
div.useritem div.useriteminfo span.date
{
     font-size: .8vw;
}
div.activityitem div.activitymessage p 
{
     position: relative;
     display: block;
     font-family: QuikSand,sans-serif;
     font-size: 1.2vw;
     word-wrap: break-word;
}
div.activityitem div.activitymessage span
{
     font-size: .9vw;
     color:rgb(63, 115, 133);
     font-family: Lato,sans-serif;
     text-transform: capitalize;
}
div.activityitem div.activitymessage span.action
{
     font-family: Lato,sans-serif;
     font-size: 1.2vw;
     font-weight: bold;
     color: #5065A8;
}
div.postdetail div.showlikes div.info,div.member div.info
{
     top: -1vw;
}
div.groupitem div.groupitemoption,div.activityitem div.viewactivity,div.useritem div.useritemaction
{
     position: relative;
     display: block;
     float: right;
     right: 1vw;
     top:1.5vw;
     width: 10%;
}
div.useritem div.useritemaction
{
     top: 1vw;
     width: 15%;
}
div.viewactivity a
{
     text-decoration: none;
}
div.groupitemoption button,div.viewactivity button,div.groupitemoption span,div.useritem div.useritemaction button
{
     position: relative;
     display: block;
     background-color: #5065A8;
     opacity: 0.7;
     border: 1px solid #5065A8;
     border-radius: 5px;
     padding:5px;
     color:whitesmoke;
}
div.groupitemoption span
{
     text-align: center;
     padding: 3px;
     width:85%;
}
div.groupitemoption button, div.viewactivity button,div.useritem div.useritemaction button
{
     cursor: pointer;
     width: 100%;
}
div.useritem div.useritemaction button
{
     margin-bottom: 0.2vw;
     text-align: center;
     font-size: .9vw;
}
div.groupitemoption button:hover,div.viewactivity button:hover,div.useritem div.useritemaction button:hover
{
     opacity: 1;
}
div.useritem div.useritemaction a
{
     text-decoration: none;
}
div.posteditform,div.postdeleteform,div.profieldeleteform,div.groupdeleteform
{
     position: relative;
     display: none;
     width:95%;
     border: 2px solid lightgray;
     border-radius: 5px;
     margin:auto;
     margin-top:1vw;
     margin-bottom:0.5vw;
}
div.profieldeleteform,div.groupdeleteform
{
     width:100%;
     border: none;
}
div.postdetail div.showlikes a,div.member a
{
     text-decoration: none;
}
div.postdetail div.ownerinfo div.info a:hover
{
   text-decoration: underline;
}
div.postdetail div.ownerinfo div.containuserimag,div.postdetail  div.commentdetail div.containuserimag
,div.postdetail div.showlikes div.containuserimag,div.member div.containuserimag
,div.groupitem div.containgroupimag,div.notificationitem div.containnotificationimag
,div.activityitem div.containuserimag,div.useritem div.containuserimag
{
     display: inline-block;
}
div.addpostinfo div.userimage,div.profile div.profileinfo div.profileimage,div.group div.groupinfo div.groupimage,div.postdetail div.ownerinfo div.userimage,div.commentdetail div.containuserimag div.userimage
,div.postdetail div.showlikes div.userimage,div.member div.userimage
,div.groupitem div.containgroupimag div.groupimage,div.notificationitem div.containnotificationimag div.notificationimage
,div.activityitem div.containuserimag div.userimage,div.useritem div.containuserimag div.userimage
{
     position: relative;
     display: block;
     width: 50px;
     height: 50px;
     border-radius: 100%;
     padding: 2px;
     background-color: #F2EEE4;
     border: 1px solid lightgray;
     margin-left: 0.5vw;
     margin-top: 0.5vw;
}
div.commentdetail div.containuserimag div.userimage
{
     width: 40px;
     height: 40px;

}
div.postdetail div.showlikes div.userimage,div.member div.userimage
{
     width: 35px;
     height: 35px;
     padding: 0px;
     border: 2px solid #F2EEE4;
}
div.profile div.profileinfo div.profileimage,div.group div.groupinfo div.groupimage
{
     width: 150px;
     height: 150px;
     margin-top: 1vw;
     margin-left: 1vw;
     border: 2px solid lightgray;
}
div.postdetail div.ownerinfo div.userimage
,div.groupitem div.containgroupimag div.groupimage,div.notificationitem div.containnotificationimag div.notificationimage
,div.activityitem div.containuserimag div.userimage
,div.useritem div.containuserimag div.userimage
{
     width: 60px;
     height: 60px;
}
div.addpostinfo div.userimage img , div.profile div.profileimage img 
,div.group div.groupimage img,div.postdetail div.ownerinfo div.userimage img,
div.postdetail div.commentdetail div.userimage img,div.postdetail div.showlikes div.userimage img
,div.member div.userimage img,div.groupitem div.containgroupimag div.groupimage img,div.containnotificationimag div.notificationimage img
,div.activityitem div.containuserimag div.userimage img
,div.useritem div.containuserimag div.userimage img
{
     object-fit: cover;
     width: 100%;
     height:100%;
     border-radius:100%;
}
div.addpostinfo div.names ,div.profile div.profileinfo div.profileusername,div.group div.groupinfo div.groupname
{
     position: relative;
     display: inline;
     margin-top: 2.2vw;
     margin-left: 0.5vw;
}
div.profile div.profileinfo div.profileusername,div.group div.groupinfo div.groupname
{
     margin-top: 6vw;
     margin-left: 0.5vw;
}
div.addpostinfo div.names span ,div.profileinfo div.profileusername span,div.group div.groupinfo div.groupname span,div.postdetail div.usernames span,div.postdetail div.date span
{
     color: #5065A8;
     display: block;
     text-align: left;
     text-transform: capitalize;
     font-size: 1vw;
     font-family: QuiKSand,sans-serif;
     font-weight: bold;
}
div.postdetail div.usernames a ,div.postdetail div.date a
{
     text-decoration: none;
}
div.postdetail div.usernames span
{
     font-size: .9vw;
}
div.postdetail div.usernames span:last-child
{
     font-family: lato,sans-serif,serif;
}
div.postdetail div.date
{
     margin-top: 0.5vw;
}
div.postdetail div.date span
{
     font-size: 0.8vw;
     font-family: QuikSand,sans-serif,serif;
}
div.postdetail div.usernames span
{
     display: inline;
}
div.profileinfo div.profileusername span,div.group div.groupinfo div.groupname span
{
     font-size: 1.5vw;
     font-family: lato,sans-serif;
}
div.profileinfo div.profileusername span:last-of-type
{
     text-transform: none;
}
div.addpost form,div.posteditform form,div.postdeleteform form,div.profieldeleteform form,div.groupdeleteform form
{
     position: relative;
     display: block;
     width: 100%;
     margin-top: 1vw;
}
div.addpost form div.forminput,div.posteditform form div.forminput
{
     width: 100%;
     position: relative;
     display: flex;
}
div.addpost form textarea,div.addcomment form textarea,div.posteditform form textarea,div.updatecomment form textarea,div.creategroup form textarea,div.updategroup form textarea
{
     position: relative;
     display: inline-block;
     width: 87%;
     resize:none;
     margin-left:1vw;
     min-height: 2vw;
     max-height: 5vw;
     overflow-y:auto;
     overflow-x:hidden;
     outline: none;
     border-radius:5px;
     border: none;
     background-color: #F2EEE4;
     color: black;
     cursor: pointer;
     font-family: lato,sans-serif;
     text-align: left;
}
div.addcomment form textarea,div.updatecomment form textarea
{
     width: 90%;
     outline: none;
     border:2px solid lightgray;
     border-radius: 5px;
     margin-left: 1vw;
}
div.updatecomment form textarea
{
     width:100%;
}
div.creategroup form textarea,div.updategroup form textarea
{
     display: block;
     width: 80%;
     background-color: inherit;
     color:black;
     padding: 10px;
     margin: auto;
     border:1px solid lightgray;
}
div.addpost form textarea:focus,div.addcomment form textarea:focus,div.posteditform form textarea:focus,div.updatecomment form textarea:focus,div.creategroup form textarea:focus,div.updategroup form textarea:focus
{
     border: 2px solid #5065A8;
     resize: vertical;
}
div.creategroup form textarea:focus,div.updategroup form textarea:focus
{
     border: 1px solid #5065A8;
}
div.addpost form #imageinput,div.posteditform form input[type=file],input[type=checkbox]
{
     display: none;
}
div.addpost form label,div.posteditform form label
{
     position: relative;
     display: inline-block;
     padding: 5px;
     font-size: 2vw;
     margin-left: 0.3vw;
     color: grey;
     cursor: pointer;
}
div.addpost form label:hover,div.posteditform form label:hover
{
    color: #5065A8;
}
div.formbuttons,div.commentbuttons
{
     position: relative;
     display: flex;
     width: 100%;
}
div.commentbuttons
{
     width: 23%;
     margin-left: 1vw;
}
div.addpost form button,div.formbuttons button,div.creategroup form button
{
     position: relative;
     display: block;
     margin: auto;
     margin-top: 1vw;
     margin-bottom: 1vw;
     outline: none;
     border: 2px solid #5065A8;
     background-color: #F2EEE4;
     color: #5065A8;
     font-family: QuikSand,sans-serif;
     font-weight: bold;
     cursor: pointer;
     padding: 5px;
     border-radius:10px;
     font-size: 1.4vw;
     
}
div.addpost form button
{
     width: 85%;
}
div.creategroup form button
{
     width: 40%;
     background-color: inherit;
}
div.formbuttons button
{
     width:30%;
     padding: 2px;
     font-size: 1.1vw;
}
div.addpost form button:hover,div.formbuttons button:hover,div.creategroup form button:hover
{
     border: 2px solid #5065A8;
     background-color: #5065A8;
     color: #F2EEE4;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
div.postdeleteform form p ,div.deletecomment p,div.profieldeleteform form p, div.groupdeleteform form p
{
     position: relative;
     display: block;
     width: 100%;
     font-family: QuikSand,sans-serif;
     text-align: center;
     color:#c93a3a;
     font-size: 1.2vw;
     text-transform: capitalize;
}
div.deletecomment p
{
     font-size: 1vw;
}
div.addpost form div.imagepreview,div.updateform div.profileimagepreview,div.updategroup div.groupimagepreview,div.posteditform div.updateimagepreview,div.creategroup form div.groupimagepreview
{
     position: relative;
     display: none;
     width: 40%;
     border-radius: 10px;
     margin: auto;
     margin-top: 2vw;
     border: none;
}
div.updateform div.profileimagepreview,div.updategroup div.groupimagepreview,div.creategroup form div.groupimagepreview
{
     width:250px !important;
     height: 250px;
     border-radius: 100%;
     padding: 2px;
     background-color: #5065A8;
}
div.updateform div.profileimagepreview,div.updategroup div.groupimagepreview
{
     display: block;
     margin-top:4vw;
}
div.updategroup div.groupimagepreview
{
     margin-top: 1vw;
}
div.creategroup form div.groupimagepreview
{
     width:70%
}
div.addpost form div.imagepreview img,div.updateform div.profileimagepreview img,div.updategroup div.groupimagepreview img,div.posteditform div.updateimagepreview img,div.creategroup form div.groupimagepreview img
{
     object-fit: cover;
     width: 100%;
     border-radius:10px;
     border: 1px solid lightgray;

}
div.updateform div.profileimagepreview img,div.updategroup div.groupimagepreview img,div.creategroup form div.groupimagepreview img
{
     width: 100%;
     height: 100%;
     border-radius:100%;
     border: none;
}
span.imgdelete,span.profileimgdelete,span.updateimgdelete,span.groupimgdelete
{
     background-color: #5065A8;
     color: #F2EEE4;
     border: 1px solid #F2EEE4;
     border-radius:100%;
}
span.profileimgdelete,div.updategroup span.groupimgdelete
{
     display: none;
}
span.profileimgdelete,span.groupimgdelete
{
     right:3vw;
     top:0.7vw;
}
span.imgdelete:hover,span.profileimgdelete:hover,span.updateimgdelete:hover,span.groupimgdelete:hover
{
     background-color: #F2EEE4;
     color: #5065A8;
     border: 1px solid #5065A8;
}
div.noposts,div.nogroups,div.norequest
{
     position: relative;
     display: block;
     padding: 10px;
     margin: auto;
     color: #5065A8;
     font-family: lato,sans-serif;
     text-align: center;
     font-size: .9vw;
}
div.noposts
{
     margin-top: 15vw;
}
div.groupdetail
{
     position: relative;
     display: block;
     width: 60%;
     background-color: inherit;
     margin: auto;
     top: 7vw;
}
div.profile,div.group
{
     position: relative;
     display: block;
     width:60%;
     background-color: inherit;
     border-radius:10px 10px 0px 0px;
     border: 1px solid lightgray;
     margin: auto;
     top: 7vw;
}
div.group
{
     width: 100%;
     top: auto;
}
div.profile div.profilesetting ,div.group div.groupsetting
,div.postdetail div.postsetting ,div.comments div.commentsetting
,div.notification_header div.notificationsetting,div.notificationitem div.notificationsetting
{
     position:absolute;
     float: right;
     z-index: 1;
     width: 35%;
     display: block;
     float: right;
     right: 2vw;
}
div.notification_header div.notificationsetting,div.notificationitem div.notificationsetting
{
     right: .5vw;
     top:0.2vw;
     width: 90%;
}
div.notificationitem div.notificationsetting
{
     top:1vw;
}
div.notificationitem div.notificationiteminfo
{
    max-width: 70%;
}
div.notificationitem div.notificationiteminfo span
{
     display: block;
     position: relative;
     font-family: Lato,sans-serif;
     top: 0.5vw;
}
div.notificationitem div.notificationiteminfo span b
{
      color:#5065A8;
}
div.notificationiteminfo span.date
{
     position: relative;
     color: #5065A8;
     font-size: 1vw;
}

div.profile div.profilesetting,div.group div.groupsetting
{
     top:1vw;
}
div.comments div.commentsetting,div.postdetail div.postsetting
{
     top: 0vw;
     right: 1vw;
}
div.postdetail div.postsetting
{
     top: 1vw;
}
div.profilesetting span.settingicon,div.groupsetting span.settingicon,
div.postdetail div.postsetting span.postsettingicon,
div.comments div.commentsetting span.commentsettingicon,div.notificationsetting span.settingicon
{
     position: relative;
     color: #5065A8;
     opacity: .7;
     font-size: 1.5vw;
     cursor: pointer;
     text-align: right;
     float: right;
}
div.notificationsetting span.settingicon
{
     font-size: 1.3vw;
}
div.comments div.commentsetting span.commentsettingicon
{
     margin-top: 2vw;
}
div.profilesetting span.settingicon:hover,div.groupsetting span.settingicon:hover,
div.postdetail div.postsetting span.postsettingicon:hover,
div.comments div.commentsetting span.commentsettingicon:hover,div.notificationsetting span.settingicon:hover
{
     opacity: 1;
}
div.profilesetting div.options,div.groupsetting div.options,
div.postdetail div.postsetting div.postoptions,div.comments div.commentoptions
,div.notificationsetting div.options
{
     position: relative;
     display: none;
     padding: 5px;
     margin-top:0.2vw;
     background-color: lightgray;
     border: 1px solid #5065A8;
     border-radius: 10px;
     width: 100%;
     float: right;
     right:-50%;
}
div.notificationsetting div.options
{
     display: none;
     right: -1vw;
     width: 90%;
     background-color:whitesmoke;
     border: 1px solid lightgray;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
     border-radius: 5px;
     top:1.2vw;
}
div.profilesetting div.options a,div.groupsetting div.options a
,div.postdetail div.postsetting div.postoptions a
,div.comments div.commentoptions a
{ 
   text-decoration: none;
   position: relative;
   display: block; 
   width: 100%;  
   margin-top: 0.5vw;
   margin-bottom: 0.5vw;
}
div.profilesetting div.options button,div.groupsetting div.options button
,div.postdetail div.postsetting div.postoptions button
,div.comments div.commentoptions button,div.notificationsetting div.options button
{
     position: relative;
     display: block;
     width: 100%;
     outline: none;
     border: 1px solid #5065A8;
     color: whitesmoke;
     background-color: #5065A8;
     opacity: 0.7;
     font-family: QiukSand,sans-serif;
     font-size: 1vw;
     font-weight: bold;
     padding: 3px;
     border-radius: 10px;
     cursor: pointer;
}
div.notificationsetting div.options button
{
     margin-bottom:0.2vw;
     border-radius: 5px;
     padding: 5px;
     text-align: left;
     background-color: inherit;
     color: #5065A8;
     border-color: lightgray;
}
div.profilesetting div.options button.deleteprofile i,div.groupsetting div.options button.deletegroup i
,div.postsetting div.postoptions button.deletepost i
,div.comments div.commentoptions button.deletecomment i
,div.notificationsetting div.options  button i
{
     margin-right: 0.5vw;
}
div.profilesetting div.options button:hover,div.groupsetting div.options button:hover,
div.profileaction button:hover,div.groupaction button:hover,
div.postdetail div.postsetting div.postoptions button:hover
,div.comments div.commentoptions button:hover,div.notificationsetting div.options button:hover
{
     opacity: 1;
}
div.profiledata,div.profileaction,div.groupdata,div.groupaction
{
     position: relative;
     display: block;
     width: 100%;
     margin-top: 1vw;
     padding: 3px;
}
div.profiledata,div.groupdata
{
     padding-bottom: 2vw;
}
div.profileaction,div.groupaction
{
     margin-top: 1.5vw;
     padding-bottom:2vw;
}
div.groupaction
{
     width: 50%;
     margin: auto;
}
div.profileaction form
{
     display: flex;
     width: 100%;
}

div.profiledata span,div.groupdata span
{
     position: relative;
     color: #5065A8;
     font-family: lato,sans-serif;
     font-weight: bold;
     font-size: 1.1vw;
     margin-left: 2vw;
}
div.profiledata span i,div.groupdata span i
{
     margin-right:.5vw;
}
div.profiledata span a,div.groupdata span a
{
     text-decoration: none;
     color: #5065A8;
}
div.profileaction button,div.groupaction button
{
     position: relative;
     width: 30%;
     outline: none;
     margin: auto;
     border: 1px solid #5065A8;
     color: whitesmoke;
     background-color: #5065A8;
     opacity: 0.7;
     font-family: QiukSand,sans-serif;
     font-size: 1vw;
     font-weight: bold;
     padding: 5px;
     border-radius: 5px;
     cursor: pointer;
}
div.groupaction button
{
     width:60%;
     display: block;
}
div.profileaction form button
{
  display: none;
}
div.profileaction form button.Block
{
     display:inline-block;
}
div.profilenotexists
{
     position: relative;
     display: block;
     width: 40%;
     margin: auto;
     top:20vw;
}
div.profilenotexists h3
{
     display: block;
     width: 100%;
     text-align: center;
     font-family: QiukSand,sans-serif,serif;
     color: #5065A8;
}
div.profilenotexists h3 span
{
     color: #c93a3a;
}
div.postdetail
{
     position: relative;
     display: block;
     width: 100%;
}
div.postdetail div.usernames ,div.postdetail div.date
{
     display: block;
}
div.postdetail div.postcontent,div.groupdescription
{
     position: relative;
     display: block;
     width: 100%;
}
div.groupdescription
{
     border-width: 1px 0px;
     border-style:solid; 
     border-color:lightgrey;
}
div.postdetail div.postcontent p,div.groupdescription p
{
     position: relative;
     display: block;
     font-family: QuiKSand,sans-serif,serif;
     font-size: 1.1vw;
     word-wrap: break-word;
     padding: 3px;
     margin-left: .6vw;
}
div.groupdescription p
{
     margin-left: 2vw;
}
div.postdetail div.postcontent div.postimage
{
     position: relative;
     display: block;
     width: 100%;
     margin-top: .5vw;
}
div.postdetail div.postcontent div.postimage img
{
     position: relative;
     object-fit: cover;
     width: 100%;
}
div.postdetail div.postreach
{
     position: relative;
     display: block;
     width: 100%;
     margin-top: 0vw;
     padding-top: 4px;
     padding-bottom: 4px;
     border-top: 2px solid lightgray;
     border-bottom: 2px solid lightgray;
}
div.postdetail div.postreach div.left,div.postdetail div.postreach div.right
{
     position: relative;
     display: block;
}
div.postreach div.left
{
     margin-left:1vw;
}
div.postdetail div.postreach div.right
{
     float: right;
     margin-right: 1vw;
     top: -1.5vw;
}
div.postdetail div.postreach span.likecount,div.postdetail div.postreach span.commentcount,div.postdetail div.postreach span.sharecount
{
     position: relative;
     display: inline-block;
     font-size: 1.2vw;
     color: #5065A8;
     font-family: Lato,sans-serif,serif;
     text-align: left;
     margin-left: .5vw;
}
div.postreach span
{
     cursor: pointer;
}
div.postreach span:hover
{
     text-decoration: underline;
}
div.postdetail div.postaction
{
     position: relative;
     display: block;
     padding: 0%;
     width: 100%;
     border-bottom: 2px solid lightgray;
}
div.postdetail div.postaction table
{
     position: relative;
     width: 100%;
     top: -.5vw;
     margin-bottom: -.5vw;
}
div.postaction tr button
{
     position: relative;
     display: block;
     margin: auto;
     outline: none;
     border:none;
     background-color: #F2EEE4;
     opacity: 0.7;
     color:grey;
     width: 100%;
     padding: 3px;
     font-size: 1.5vw;
     cursor: pointer;
}
div.postaction button.removelike,div.postaction button.removeshare
{
     color:#5065A8;
     display: none;
}

div.postdetail div.comments
{
     position: relative;
     display: block;
     width: 100%;
}
div.commentdetail
{
     padding-bottom: 1vw;
}
div.commentdetail:first-of-type
{
     padding-top: .5vw;
}

div.commentdetail div.commentcontent
{
     position: relative;
     background-color: lightgray;
     margin-top: .5vw;
     margin-left: .5vw;
     border-radius: 10px;
     max-width: 75%;
}
div.commentdetail div.commentcontent a
{
     text-decoration: none;
     position: relative;
     display: block; 
     margin-top: .5vw;
     padding: 5px 5px 0px 5px;
}
div.commentdetail div.commentcontent a:hover
{
     text-decoration: underline;
}
div.commentdetail div.commentcontent span
{
     color: #5065A8;
     font-family: Lato,sans-serif;
     font-size: 1vw;
}
div.commentdetail div.commentcontent p
{
     position: relative;
     display: block;
     text-align: left;
     margin-left: .5vw;
     margin-right: .5vw;
     font-size:1vw;
     word-wrap: break-word;
     font-family: QiukSand,sans-serif;
     color:black;
}
div.comments div.showmore
{
     position: relative;
     display: block;
     margin-top: 1vw;
     margin-bottom: 1vw;
     width: 100%;
     text-align: center;
}
div.comments div.showmore a
{
     text-decoration: none;
     color: #5065A8;
     font-family: Lato,sans-serif;
     font-size: 1vw;
}
div.comments div.showmore a:hover
{
     text-decoration: underline;
}
div.comments div.addcomment,div.updatecomment,div.deletecomment
{
     position: relative;
     display: block;
     width: 100%;
     margin-bottom: 0.5vw;
}
div.comments div.addcomment
{
     margin-top: 0.5vw;
}
div.updatecomment,div.deletecomment
{
     display: none;
}
div.updatecomment div.form,div.deletecomment div.form
{
     position: relative;
     display: flex;
     width: 100%;
}
div.comments div.addcomment form,div.updatecomment form,div.deletecomment form
{
     position: relative;
     display: flex;
     width: 100%;
}
div.updatecomment form,div.deletecomment form
{
     width: 75%;
}
div.addcomment form button,div.commentbuttons button,div.deletecomment button
{
     position: relative;
     width: 10%;
     outline: none;
     background-color: inherit;
     border: none;
     opacity: 0.7;
     color: #5065A8;
     font-size: 2vw;
     cursor: pointer;

}
div.commentbuttons button,div.deletecomment button
{
     width: 50%;
}
div.addcomment form button:hover,div.commentbuttons button:hover,div.deletecomment button:hover
{
     opacity: 1;
}
div.postresult
{
     position: relative;
     display: block;
     width: 95%;
     background-color: inherit;
     border-radius: 5px;
     border:1px solid lightgray;
     margin: auto;
     margin-bottom: 0.5vw;
     padding: 5px;
}
div.postresult span
{
     position: relative;
     display: block;
     color: #5065A8;
     font-family: Lato,sans-serif;
     font-size: 1.3vw;
}
div.postresult span.date
{
     font-family: QuikSand,sans-serif;
     font-size: 1vw;
     color:rgb(63, 115, 133);
}
div.postresult a
{
     text-decoration: none;
}
div.postresult p
{
     position: relative;
     display: block;
     word-wrap: break-word;
     font-family: QuikSand,sans-serif;
     font-size: 1vw;
     margin-top: 0vw;
     padding: 0vw;
}







