{% extends 'base.html' %}
{% load static %}
{% block title %}
     Change Password | MrSocial
{% endblock %}
{% block auth %}
{% if validlink %}
<div class='logo'>
    <img src="{% static 'images/logo/MrSocial-logos_transparent.png' %}" alt="MrSocail logo"/>
</div>

<div class='login'>
    <div class='loginlogo'>
        <h2>MrSocial</h2>
    </div>
    <div class='ResetEmailform'>
    {% if form.non_field_errors|length > 0 %}  
     <div class='formerror'> 
        <ul>
            {% for error in form.non_field_errors %}
            <li>
                {{error}}
            </li> 
            {% endfor %}
        </ul>
      </div>   
    {% endif %}
      <form method="POST">
          {% csrf_token %}
          <div class='inputcontainer'>  
            <i class="fa fa-key icon"></i>
            <input  type="password" placeholder="Password" name="new_password1" required>
            {% if form.new_password1.errors|length > 0 %}  
            <div class='fielderror'> 
              <ul>
                 {% for error in form.new_password1.errors %}
                 <li>
                     {{error}}
                 </li> 
                 {% endfor %}
              </ul>
            </div>   
           {% endif %}
          </div>
          <div class='inputcontainer'>  
            <i class="fa fa-key icon"></i>
            <input  type="password" placeholder="Password" name="new_password2" required>
            {% if form.new_password2.errors|length > 0 %}  
            <div class='fielderror'> 
              <ul>
                 {% for error in form.new_password2.errors %}
                 <li>
                     {{error}}
                 </li> 
                 {% endfor %}
              </ul>
            </div>   
           {% endif %}
          </div>

           <button class="submit" type="submit">
                 Change Password
          </button>
          <div class='go_signup'>

          </div>
      </form>
    </div>

</div>
{% else %}
<div class='emailsent'>
    <div>
        <h1>Link not <span style="color:rgb(235, 98, 98)">Valid !</span></h2>
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    </div>
</div>
{% endif %}
{% endblock %}