{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block title %}
  {{profile.first_name}} {{profile.last_name}} | MrSocial
{% endblock %}
{% block content %}
{% if not user in profile.block.all and not profile in user.block.all %}
{% if profile %}
 <div class='profile'>
   <div class='profieldeleteform' id='profiledeleteform_{{profile.id}}'>
      <form method="POST" action="{% url 'accounts:delete-profile' slug=profile.slug %}" id='deleteprofileForm_{{profile.id}}'>
        {% csrf_token %}
        <p>are you sure you want to delete this post ?</p>
      </form>
      <div class='formbuttons'>
        <button type='submit' form='deleteprofileForm_{{profile.id}}'> Delete </button>
        <button onclick="showprofileaction('profiledeleteform_{{profile.id}}',null,'profilecontent')"> Cancel </button>
      </div>
    </div>
    <div class="profilecontent">
      <div class="profileinfo">
        <div class="profileimage">
            {% if profile.image %}
            <img src="{{profile.image.url}}" alt="Profile Picture">
            {% else %}
            <img src="{% static 'default/default.png' %}" alt="Profile Picture">
            {% endif %}
        </div>
       <div class='profileusername'>
            <span>{{profile.first_name}} {{profile.last_name}}</span>
            <span>@{{profile.username}}</span>
        </div>
      </div>
      {% if profile.id == user.id %}
      <div class='profilesetting'>
        <span class='settingicon'>
            <i class="fas fa-cog"></i>
        </span>
        <div class='options'>
          <a href="{% url 'accounts:update-profile' slug=profile.slug %}"><button class='updateprofile'><i class="fas fa-user-cog"></i> Update Account</button></a>
          <a><button class='deleteprofile' onclick="showprofileaction('profiledeleteform_{{profile.id}}','options','profilecontent')"><i class="fas fa-trash-alt"></i> Delete Account</button></a>
        </div>
      </div>  
      {% endif %}
      <div class='profiledata'>
          <span><i class="fas fa-envelope"></i><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></span>
          <span><i class="fas fa-birthday-cake"></i>{{ profile.birth_date }}</span>
          <span class='numfriends'> {{ profile.get_friends|length }} friends</span>
          <span class='numposts'> {{ profile.userposts.all|get_posts }} posts</span>
      </div>
      {% if profile.id != user.id %}
      <div class='profileaction' style="margin-top: 0.5vw;">
        <form method="POST" id='requestform_{{profile.id}}'>
           {% csrf_token %}
           <input type="hidden" value="{{profile.id}}" name='friend'>
           {% if user in profile.get_friends %}
              <script>
                remove = true
              </script>
           {% elif  user in profile.get_requests %}
             <script>
                accept = true
                refuse = true
             </script>
           {% elif profile in user.get_requests %}
             <script>
                cancel = true
             </script>
           {%else%}
            <script>
                add = true
            </script>
           {% endif %}
           {% url 'accounts:remove_friend' as url %}
           <button class='remove'
           onclick="RemoveFriendRequest(event,'requestform_{{profile.id}}','{{url}}',useritem=null,profile=true)"> 
           <i class="fas fa-user-times"></i> Remove Friend</button>
           {% url 'accounts:accept_friend' as url %}
           <button class="accept"
              onclick="AcceptOrRefuseFriendRequest(event,'requestform_{{profile.id}}','{{url}}',accept=true,useritem=null,profile=true)"> 
               Accept Request </button>
            {% url 'accounts:refuse_friend' as url %}
            <button class="refuse"
              onclick="AcceptOrRefuseFriendRequest(event,'requestform_{{profile.id}}','{{url}}',accept=false,useritem=null,profile=true)"> 
               Refuse Request </button>
           {% url 'accounts:cancel_friend' as url %}
           <button class='cancel' 
              onclick="CancelFriendRequest(event,'requestform_{{profile.id}}','{{url}}',useritem=null,profile=true)"
            >Cancel Request</button>
            {% url 'accounts:add_friend' as url %}
           <button class='add'
           onclick="AddFriendRequest(event,'requestform_{{profile.id}}','{{url}}')">
           <i class="fas fa-user-plus"></i> Add Friend</button>
           {% url 'accounts:block_friend' as url %}
          <button class='Block' type="submit" formaction="{{url}}">
          <i class="fas fa-user-lock"></i> Block</button>
        </form>
      </div>
      {% endif %}
    </div>
</div>
{% if posts|length == 0 %}
   <div class='noposts'>
       <p> This profile has no posts yet.</p>
   </div>
{% else %}
   {% for post in posts %}
   {%if post.share %} 
   {% include 'posts/post.html' with post=post.post  profile=True shareduser=post.shareduser share=post.share sharedpost=post.posttype %}
   {%else%}
   {% include 'posts/post.html' with post=post.post  profile=True shareduser=None share=post.share sharedpost=post.posttype %}
   {%endif%}
   {%endfor%}
   <div class='makespace'>
   </div>
{% endif%}
{% else %}
<div class='profilenotexists'>
    <div>
        <h3>this page <span>doesn’t exist</span>. Try searching for something else.</h3>
    </div>
</div>
{% endif %}
{%else%}
<div class='profilenotexists'>
  <div>
      <h3>this page is <span>unknown</span>. Try searching for something else.</h3>
  </div>
</div>
{%endif%}
{% endblock %}