{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

{% include 'posts/create_post.html' %} 
<div id='createdpost'>
    {% include 'posts/post.html' with post=user.userposts.last %}
  <!--<div class='postdetail' id='postdetail_{{user.id}}'>
        <div class='ownerinfo'>
            <div class="containuserimag">
                <div class="userimage">
                    {% if user.image %}
                    <a href="{% url 'accounts:profile' slug=user.slug %}">
                        <img src="{{user.image.url}}" alt="Profile Picture">
                    </a>
                    {% else %}
                    <a href="{% url 'accounts:profile' slug=user.slug %}">
                        <img src="{% static 'default/default.png' %}" alt="Profile Picture">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class='info'>
                <div class='usernames'>
                    <a href="{% url 'accounts:profile' slug=user.slug %}">
                        <span>{{user.first_name}} {{user.last_name}}</span>
                        <span>@{{user.username}}</span>
                    </a>
                </div>
                <div class='date'>
                    <a href="#"><span>{{user.date_joined|naturaltime}}</span></a>
                </div>
            </div>
           <div class='postsetting'>
                <span class="postsettingicon" onclick="showpostoptions('postoptions_{{user.id}}')">
                    <i class="fas fa-cog"></i>
                </span>
                <div class='postoptions' id="postoptions_{{user.id}}">
                    <a></a><button class='updatepost' onclick="showpostaction('posteditform_{{user.id}}','postoptions_{{user.id}}','postdetail_{{user.id}}')"><i class="fas fa-edit"></i> Update Post</button></a>
                    <a><button class='deletepost' onclick="showpostaction('postdeleteform_{{user.id}}','postoptions_{{user.id}}','postdetail_{{user.id}}')"><i class="fas fa-trash-alt"></i> Delete Post</button></a>
                </div>
           </div>
        </div>
        <div class='posteditform' id='posteditform_{{user.id}}'>
            <form method="POST" enctype="multipart/form-data" id='EditPostForm_{{user.id}}'>
                {% csrf_token %}
                <div class='forminput'>
                    <textarea name='content' placeholder="What's on your mind,{{ user.username }}?" autofocus>This class consumes the data stream emitted by observable. There can be multiple observers with observable and each observer will receive each data item that is emitted. The observer can receive three type of events by subscribing to observable</textarea>
                    <input type='file' name='image' id="editimageinput" accept=".png, .jpg, .jpeg"/>
                    <label for="imageinput"><i class="far fa-file-image"></i></label>
                </div>
                <div class='posterrors'>
                </div>
            </form>
            <div class='formbuttons'>
                <button type='submit' form='EditPostForm_{{user.id}}'> Update </button>
                <button onclick="showpostaction('posteditform_{{user.id}}',null,'postdetail_{{user.id}}')"> Cancel </button>
            </div>
        </div>
        <div class='postdeleteform' id='postdeleteform_{{user.id}}'>
            <form method="POST" enctype="multipart/form-data" id='deletePostForm_{{user.id}}'>
                {% csrf_token %}
                <p>are you sure you want to delete this post ?</p>
            </form>
            <div class='formbuttons'>
                <button type='submit' form='deletePostForm_{{user.id}}'> Delete </button>
                <button onclick="showpostaction('postdeleteform_{{user.id}}',null,'postdetail_{{user.id}}')"> Cancel </button>
            </div>
        </div>
        <div class='postcontent'>
             <p>This class consumes the data stream emitted by observable. There can be multiple observers with observable and each observer will receive each data item that is emitted. The observer can receive three type of events by subscribing to observable</p>
             <div class='postimage'>
                <img src="{{user.image.url}}">
             </div>
        </div>
        <div class="postreach">
            <div class='left'>
                <a><span class="likecount" onclick="showpostlikes('postlikes_{{user.id}}')"> 0 like</span></a>
            </div>
            <div class='right'>
                <a href="#"><span class="commentcount"> 0 comment</span></a>
                <a><span class="sharecount" onclick="showpostshares('postshares_{{user.id}}')"> 0 share</span></a>
            </div>
        </div>
        <div class="showlikes shares" id='postshares_{{user.id}}'>
            <div class="like">
             <a href="{% url 'accounts:profile' slug=user.slug %}"> 
             <div class="containuserimag">
                 <div class="userimage">
                     {% if user.image %}
                         <img src="{{user.image.url}}" alt="Profile Picture">
                     {% else %}
                         <img src="{% static 'default/default.png' %}" alt="Profile Picture">
                     {% endif %}
                 </div>
             </div>
             <div class='info'>
                 <div class='usernames'>
                     <span>{{user.first_name}} {{user.last_name}}</span>                    
                 </div>
             </div>
             </a>
            </div> 
            <button onclick="showpostshares('postshares_{{user.id}}')">Close</button>
        </div>
        <div class="showlikes" id='postlikes_{{user.id}}'>
           <div class="like">
            <a href="{% url 'accounts:profile' slug=user.slug %}"> 
            <div class="containuserimag">
                <div class="userimage">
                    {% if user.image %}
                        <img src="{{user.image.url}}" alt="Profile Picture">
                    {% else %}
                        <img src="{% static 'default/default.png' %}" alt="Profile Picture">
                    {% endif %}
                </div>
            </div>
            <div class='info'>
                <div class='usernames'>
                    <span>{{user.first_name}} {{user.last_name}}</span>                    
                </div>
            </div>
            </a>
           </div> 
           <button onclick="showpostlikes('postlikes_{{user.id}}')">Close</button>
        </div>
        <div class='postaction'>
            <table>
                <tr>
                    <td>
                        <button class='addlike'><i class="far fa-thumbs-up"></i></button>
                        <button class='removelike'><i class="fas fa-thumbs-up"></i></button>
                    </td>
                    <td>
                        <button class='addcomment'><i class="far fa-comment"></i></button>
                    </td>
                    <td>
                        <button class='addshare'><i class="fas fa-share"></i></button>
                    </td>
                </tr>
            </table>
        </div>
      <div class='comments'>
            <div class='commentdetail'>
                <div class='updatecomment' id="updatecomment_{{user.id}}">
                    <div class='form'>
                        <form id="updatecommentform_{{user.id}}">
                            {% csrf_token %}
                            <textarea placeholder="Write a comment ...." name="message" required autofocus></textarea>
                        </form>
                        <div class='commentbuttons'>
                            <button type="submit" form="updatecommentform_{{user.id}}"><i class="fas fa-comment-medical"></i></button>
                            <button onclick="showcommentaction('updatecomment_{{user.id}}',null,'commentcontent_{{user_id}}')"><i class="far fa-times-circle"></i></button>
                        </div>
                    </div>
                    <div class='commenterror'>
                    </div>
                 </div>
                 <div class='deletecomment' id="deletecomment_{{user.id}}">
                    <div class='form'>
                        <form id="deletecommentform_{{user.id}}">
                            {% csrf_token %}
                            <p>are you sure you want delete that comment ?</p>
                        </form>
                        <div class='commentbuttons'>
                            <button type="submit" form="deletecommentform_{{user.id}}"><i class="far fa-trash-alt"></i></button>
                            <button onclick="showcommentaction('deletecomment_{{user.id}}',null,'commentcontent_{{user_id}}')"><i class="far fa-times-circle"></i></button>
                        </div>
                    </div> 
                    <div class='commenterror'>
                    </div>
                </div>
                <div class="content" id='commentcontent_{{user_id}}'>
                    <div class="containuserimag">
                        <div class="userimage">
                            {% if user.image %}
                            <a href="{% url 'accounts:profile' slug=user.slug %}">
                                <img src="{{user.image.url}}" alt="Profile Picture">
                            </a>
                            {% else %}
                            <a href="{% url 'accounts:profile' slug=user.slug %}">
                                <img src="{% static 'default/default.png' %}" alt="Profile Picture">
                            </a>
                            {% endif %}
                        </div>
                    </div>
                   <div class='commentcontent'>
                        <a href="{% url 'accounts:profile' slug=user.slug %}">
                            <span>{{user.first_name}} {{user.last_name}}</span>
                        </a>
                        <p>This class consumes the data stream emitted by observable. There can be multiple observers with observable and each observer will receive each data item that is emitted. The observer can receive three type of events by subscribing to observable.</p>
                    </div>
                     <div class='commentsetting'>
                        <span class="commentsettingicon" onclick="showcommentoptions('commentoptions_{{user.id}}')">
                                <i class="fas fa-ellipsis-h"></i>
                        </span>
                        <div class='commentoptions' id="commentoptions_{{user.id}}">
                            <a><button class='updatecomment' onclick="showcommentaction('updatecomment_{{user.id}}','commentoptions_{{user.id}}','commentcontent_{{user_id}}')"><i class="fas fa-edit"></i> Update Comment</button></a>
                            <a><button class='deletecomment' onclick="showcommentaction('deletecomment_{{user.id}}','commentoptions_{{user.id}}','commentcontent_{{user_id}}')"><i class="fas fa-trash-alt"></i> Delete Comment </button></a>
                        </div>
                    </div>
                </div>
            </div> 
           <div class='showmore'>
                <a href="#">show more comments</a>
            </div>
            <div class='addcomment'>
               <form>
                   {% csrf_token %}
                   <textarea placeholder="Write a comment ...." name="message" required></textarea>
                   <button type="submit"><i class="fas fa-comment-medical"></i></button>
               </form>
               <div class='commenterror'>
               </div>
            </div>
        </div>
    </div>-->
</div>
{% if user.friendship.count == 0 %}
   <div class='noposts'>
       <p> you have no friends yet, try to add friends to view their posts.</p>
   </div>
{% else %}
<div class='friendspost'>

</div>
{% endif%}
{% endblock %}