<div id=navbar>
    <div class="togglemenu">
        <button class="open">
         <i class="fa fa-bars"></i>
        </button>
        <button class="close">
         <i class="fa fa-bars"></i>
        </button>
     </div>
     <div class="search">
         <form>
             {% url 'base-search' as url %}
             <input type="search" placeholder="Search MrSocial" id='search' onkeyup="BaseSearch(event,this,'{{url}}')"/> 
         </form>
         <div id='basesearchresult'>
         
        </div>
     </div>
     <div class="notification">
         {% url 'notifications:all' as url %}
         <button class="icon" onclick="ShownotificationSidemneu(event,'{{url}}')">
          <i class="material-icons">notifications</i>
         </button>
         <span class="badge" style="display: none;">
         </span>
     </div>
</div>
{% include 'notifications/notification_list.html' %}

