<div id=navbar>
    <div class="togglemenu">
        <button class="open">
         <i class="fa fa-bars"></i>
        </button>
        <button class="close">
         <i class="fa fa-bars"></i>
        </button>
     </div>
     <div class="search">
         <form>
             <input type="search" placeholder="Search MrSocial" id='search'/> 
         </form>
     </div>
     <div class="notification">
         <button class="icon">
          <i class="material-icons">notifications</i>
         </button>
         <span class="badge">
             10
         </span>
     </div>
</div>

