html
{
    width: 100%;
    height: 100%;
}
body
{
    background-color: #F2EEE4;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
div.welcome 
{
     position: relative;
     display: block;
     top:2vw;
     background-color: inherit;
     margin:auto;  
     width:50%;
     height:40vw;

}
div.welcome img
{
     position: relative;
     width: 100%;
     height: 50%;
     object-fit: cover;   
}

div.welcome h1,div.welcome h4
{
     text-align: center;
     margin: auto;
     color:#5065A8;
     font-family:Quicksand,sans-serif,serif;
} 
div.welcome h1
{
     font-size: 2vw;
}
div.welcome span
{
     font-family: lato, sans-serif,serif;
     font-weight: bolder;   
}
div.auth
{
     display: block;
     position: relative;
     width: 100%;
     top: 10%;
     margin: auto;
}
div.auth button
{
     display: inline-block;
     position: relative;
     margin: 3vw;
     padding: 10px;
     width: 30%;
     background-color: #66ff33;
     border: 3px solid whitesmoke;
     border-radius: 10px;
     cursor: pointer;
     box-shadow: 2px 4px 8px 2px lightgrey, 2px 6px 20px 2px lightgray;

}
div.auth button a
{
    font-family: lato,sans-serif,serif;
    font-weight: bolder;
    font-size:2vw;
    text-decoration: none;
    color:whitesmoke;
}
button.login
{
    float: left;
}
button.signup
{
    float: right;
}
div.logo
{
     position: relative;
     display: inline;
     float: left;
     width: 58%;
     height: 40vw;
     /*border: 1px solid red;*/
}

div.login
{
     position: relative;
     display: inline;
     float: right;
     right:5vw;
     width: 30%;
     top:3vw;
     height: auto;
     /*border: 2px solid #5065A8;*/
     background-color: #5065A8;
     border-radius: 10px;
     box-shadow: 2px 4px 8px 2px lightgrey, 2px 6px 20px 2px lightgray;
}
div.signup
{
     top:.5vw;
}
div.logo img 
{
     width: 100%;
     object-fit: cover;
     height: 100%;
     position: relative;
}
div.loginlogo
{
     position: relative;
     display: block;
     width: 100%;
     height:auto;
     border-radius: 10px 10px 0px 0px;
     background-color: #5065A8;
     background-image: url('/static/images/logo/MrSocial-logos_white_icon.png');
     background-repeat: no-repeat;
     background-position: 20% 10%;
     background-size: contain;
}
div.loginlogo h2
{
     display: inline-block;
     position: relative;
     top:.3vw;
     left:40%;
     font-family: Lato, sans-serif,serif;
     color: whitesmoke;
     font-size: 3vw;
}
div.loginform,div.Signupform,div.ResetEmailform
{
     position: relative;
     display: block;
     width: 100%;
     left:0px;
     background-color: whitesmoke;
     margin-top: 0vw;
     height: 70%;
     border-radius: 10px 10px 5px 5px;
}
div.formerror ,div.fielderror,div.formmessage
{
     position: relative;
     display: block;
     width: 100%;
     height:auto;
     border: 1px solid red;
     background-color: rgb(235, 98, 98);
     border-radius: 10px 10px 0px 0px;
}
div.Signupform div.inputcontainer:first-of-type
{
     margin-top: 1vw;
}
div.fielderror
{
     border-radius: 10px;
     width:93.5%;
     margin: auto;
     margin-top: 1vw;
     margin-bottom: 0vw;
}
div.formerror ul,div.fielderror ul
{
     list-style-type: none;
     position: relative;
     display: block;
     color: whitesmoke;
     font-family:Quicksand,sans-serif,serif;
     font-weight: bold;
     text-transform: capitalize;
     word-wrap: break-word;
}
div.formmessage
{
     background-color: inherit;
     width:94%;
     margin: auto;
     border:none;
}
div.formmessage h4 , div.formmessage p
{
     font-family: QuikSane,sans-serif;
     color: #5065A8;
     text-align: left;

}
div.loginform form,div.Signupform form
{
     position: relative;
     display: block;
     width: 100%;
     height:100%;
     border-radius: inherit;

}
div.inputcontainer:first-of-type
{
     top: 2vw;
}
div.inputcontainer
{
     position: relative;
     display: block;
     top:1vw;
     margin-top: 2vw;
     width: 100%;
     height:auto;
}
div.inputcontainer i
{
     position: relative;
     display: inline;
     color:whitesmoke;
     padding: 11px;
     background-color: #5065A8;
     font-size: 1.5vw;
     left:1vw;
     top:2px;
     text-align: center;
     border-radius: 5px 0px 0px 5px;
}
div.inputcontainer input 
{
     position: relative;
     display: inline;
     width: 77%;
     padding: 12px;
     outline: none;
     left: 0.7em;
     margin: 0px;
     border: 1.5px solid lightgray;
     border-left:none ;
     border-radius: 0px 5px 5px 0px ;
}
div.inputcontainer input:focus
{
     border: 1px solid #5065A8;
     font-family: Lato, Helvetica, sans-serif;
     font-weight: bold;
}
div.loginform h4
{
     display: block;
     position: relative;
     text-align: right;
     margin-top:2vw;
     margin-right: 1vw;
     font-family: lato,serif;
}
div.loginform h4 a , div.emailsent div a
{
     text-decoration: none;
     color: rgb(56, 167, 204);
}
div.loginform h4 a:hover , div.emailsent div a:hover
{
     text-decoration: underline;
     color: #5065A8;
}
button.submit
{
     position: relative;
     display: block;
     width:65%;
     padding: .5vw;
     margin: auto;
     background-color: #5065A8;
     color:whitesmoke;
     font-family: QuikSand,sans-serif,serif;
     top:.5vw;
     font-size: 2vw;
     font-weight: bold;
     border: 2px solid  whitesmoke;
     border-radius:10px ;
     cursor: pointer;
     box-shadow: 2px 4px 8px 2px lightgrey, 2px 6px 20px 2px lightgray;
}
div.Signupform button.submit
{
     margin-top: 3vw;
     top: auto;
}
button.submit:hover
{
     border: 2px solid  #5065A8;
     background-color: whitesmoke;
     color:#5065A8;
}
div.ResetEmailform button.submit
{
     margin-top: 3vw;
     font-size: 1.5vw;
}
div.ResetEmailform .after
{
     position: relative;
     margin-top: 2vw;
     width: 100%;
     height: 1vw;
}
div.go_signup
{
     position: relative;
     display: block;
     margin-top: 8vw;
     bottom:2vw;
     padding: 5px;
     text-align: center;
     width:100%;
}
div.Signupform div.go_signup
{
     margin-top: 6vw;
     bottom: 1vw;
}
div.go_signup p ,div.go_signup a 
{
    position: relative;
    display: inline;
    color:#5065A8;
    font-family: QuikSand,serif,sans-serif;
}
div.go_signup a
{
    text-decoration: none;  
    color:rgb(57, 235, 57);
}
div.emailsent
{
     position: relative;
     display: block;
     margin: auto;
     background-image: url('/static/images/logo/MrSocial-logos_transparent.png');
     background-color: #F2EEE4;
     background-position:left;
     background-size: cover;
     background-repeat: no-repeat;
     height: 30vw;
     width: 55%;
}
div.emailsent div
{
     position: relative;
     display: inline-block;
     width: 100%;
     height: auto;
     padding: 10px;
     margin-top: 40%;
}
div.emailsent div h1 ,div.emailsent div p
{
     color: #5065A8;
     font-family: QuiKSand,sans-serif,serif;
     text-align: left;   
     font-weight: bold;
     word-wrap: break-word;
}
#sidemenu 
{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0vw;
  left: 0vw;
  background-color: #5065A8;
  overflow: hidden;
  transition: 0.5s;
}
#content
{
     position: relative;
     height: 100%;
     transition: margin-left .5s;

}
div.togglemenu,div.notification,div.search
{
     position: sticky;
     display:block;
     z-index: 1;
     background-color: inherit;
     width: auto;
     height: auto;
     top:1vw;
}
div.togglemenu,div.search
{
     margin-left: 0vw;
     float: left;
}
div.search
{
     width:30%;
     margin-left: 30%;
     margin-top: 1%;
}
div.search #search
{

     background-color:#F2EEE4;
     background-image: url('/static/images/search-icon.png');
     background-position: top left;
     background-size: contain;
     background-repeat: no-repeat;
     width: 100%;
     box-sizing: border-box;
     border: 2px solid #5065A8;
     border-radius: 5px;
     font-size: 16px;
     padding: 12px 20px 12px 50px;
     color: #5065A8;
     font-family: QuikSand,sans-serif,serif;
     cursor: pointer;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
div.search input:hover
{
     border: 2px solid #5065A8;
}
div.notification
{
    float: right;  
    margin-right: 3vw;   
}
div.togglemenu button,div.notification button
{
     position: relative;
     margin:auto ;
     font-weight: bold;
     font-size: 2vw;
     border: none;
     outline: none;
     cursor: pointer;
     text-align: center;
     border-radius: 5px;
     padding-top: 2px;
}
div.togglemenu button
{
     color: #5065A8;
     background-color: #F2EEE4;
}
div.notification button
{
     color: #F2EEE4;
     background-color: #5065A8;
     padding-top: 5px;
     border-radius: 10px;
     border: 1px solid whitesmoke;
}
div.notification button:hover
{
     color: #5065A8;
     background-color: #F2EEE4;
     border: 1px solid #5065A8;
}
div.togglemenu button:hover
{
     background-color: #5065A8;
     color: #F2EEE4;
}
button.open
{
     display: block;
}
button.close
{
     display: none;
     transform: rotate(90deg);
}
span.badge
{
     position:absolute;
     right:-10px;
     top:-10px;
     min-width:10px;
     min-height:10px;
     line-height:10px;
     padding:5px;
     color:whitesmoke;
     background-color:#bf1f1f;
     font-size:.8vw;
     border-radius:10px;
     text-align: center;
     border:solid 1px #c93a3a;
     cursor: pointer;
}
#sidemenu div.profileimage
{
     position: relative;
     display: block;
     height: 130px;;
     width: 130px;
     background-color: whitesmoke;
     margin: auto;
     margin-top:1vw;
     padding: 5px;
     border-radius: 100%;
}
#sidemenu div.profileimage img
{
     object-fit: cover;
     width: 100%;
     height:100%;
     border-radius:100%;
}
#sidemenu div.username
{
     position: relative;
     display: block;
     margin: auto;
     margin-top: 1vw;    
}
div.username span
{
     color:whitesmoke;
     font-family: QuikSand,serif;
     text-align: center;
     display: block;
}
div.userinfo
{
     position: relative;
     display: block;
     width: 100%;
     margin-top: 1vw;
}
div.userinfo button
{
     position: relative;
     display: inline;
     margin-left:5px;
     width:47%;
     padding: 5px;
     font-family: lato,serif;
     font-weight: bold;
     text-align: center;
     text-transform: capitalize;
     color: #F2EEE4;
     word-wrap: break-word;
     background-color: inherit;
     border-radius: 5px;
     cursor: pointer;
     border: none;
}
div.userinfo button:hover,div.navbarlist button:hover
{
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
div.navbarlist
{
     position: relative;
     display: block;
     width: 100%;
     background-color: inherit;
}

div.navbarlist button
{
     position: relative;
     display: block;
     width: 100%;
     padding: 1vw;
     border: none;
     font-family: QuikSand,sans-serif,serif;
     color: #F2EEE4;
     text-align: center;
     cursor: pointer;
     background-color: #5065A8;
     font-weight: bold;
     border-radius: 5px;
     font-size: 1.2vw;
     margin-bottom: 1vw;
     text-transform: capitalize;
}
div.navbarlist button i ,button.logout a i
{
     margin-right: .5vw;
}
button.logout
{
     display: block;
     position: relative;
     padding: 10px;
     width: 80%;
     margin: auto;
     margin-top: 4vw;
     background-color: #F2EEE4;
     border: 2px solid #c93a3a;
     border-radius: 10px;
     cursor: pointer;  
}
button.logout a
{
     font-family: lato,sans-serif,serif;
     font-weight: bolder;
     font-size:1.2vw;
     text-decoration: none;
     color:#bf1f1f;
}