{% load static %}
{% load humanize %}
<div class='commentdetail' id="{{sharedpost}}commentdetail_{{comment.id}}">
    <div class='updatecomment' id="{{sharedpost}}updatecomment_{{comment.id}}">
        <div class='form'>
            <form id="{{sharedpost}}updatecommentform_{{comment.id}}">
                {% csrf_token %}
                <textarea placeholder="Write a comment ...." name="message" required autofocus>{{comment.message}}</textarea>
            </form>
            <div class='commentbuttons'>
                {% url 'posts:update-comment' commentid=comment.id as url%}
                <button type="submit" form="{{sharedpost}}updatecommentform_{{comment.id}}" onclick="UpdateComment(event,'{{url}}','{{sharedpost}}updatecommentform_{{comment.id}}')"><i class="fas fa-comment-medical"></i></button>
                <button onclick="showcommentaction('{{sharedpost}}updatecomment_{{comment.id}}',null,'{{sharedpost}}commentcontent_{{comment.id}}')"><i class="far fa-times-circle"></i></button>
            </div>
        </div>
        <div class='commenterror' id="{{sharedpost}}updatecommenterror_{{comment.id}}">
        </div>
     </div>
     <div class='deletecomment' id="{{sharedpost}}deletecomment_{{comment.id}}">
        <div class='form'>
            <form id="{{sharedpost}}deletecommentform_{{comment.id}}">
                {% csrf_token %}
                <p>are you sure you want delete that comment ?</p>
            </form>
            <div class='commentbuttons'>
                {% url 'posts:delete-comment' commentid=comment.id as url%}
                <button type="submit" form="{{sharedpost}}deletecommentform_{{comment.id}}" onclick="DeleteComment(event,'{{url}}','{{sharedpost}}deletecommentform_{{comment.id}}')"><i class="far fa-trash-alt"></i></button>
                <button onclick="showcommentaction('{{sharedpost}}deletecomment_{{comment.id}}',null,'{{sharedpost}}commentcontent_{{comment.id}}')"><i class="far fa-times-circle"></i></button>
            </div>
        </div> 
    </div>
    <div class="content" id='{{sharedpost}}commentcontent_{{comment.id}}'>
        <div class="containuserimag">
            <div class="userimage">
                {% if comment.user.image %}
                <a href="{% url 'accounts:profile' slug=comment.user.slug %}">
                    <img src="{{comment.user.image.url}}" alt="Profile Picture">
                </a>
                {% else %}
                <a href="{% url 'accounts:profile' slug=comment.user.slug %}">
                    <img src="{% static 'default/default.png' %}" alt="Profile Picture">
                </a>
                {% endif %}
            </div>
        </div>
       <div class='commentcontent'>
            <a href="{% url 'accounts:profile' slug=comment.user.slug %}">
                <span>{{comment.user.first_name}} {{comment.user.last_name}}</span>
            </a>
            <p>{{comment.message}}</p>
        </div>
         <div class='commentsetting'>
            <span class="commentsettingicon" onclick="showcommentoptions('{{sharedpost}}commentoptions_{{comment.id}}')">
                <span class='settingicon'>
                    <i class="fas fa-ellipsis-h"></i>
                </span>
            </span>
            <div class='commentoptions' id="{{sharedpost}}commentoptions_{{comment.id}}">
                <a><button class='updatecomment' onclick="showcommentaction('{{sharedpost}}updatecomment_{{comment.id}}','{{sharedpost}}commentoptions_{{comment.id}}','{{sharedpost}}commentcontent_{{comment.id}}')"><i class="fas fa-edit"></i> Update Comment</button></a>
                <a><button class='deletecomment' onclick="showcommentaction('{{sharedpost}}deletecomment_{{comment.id}}','{{sharedpost}}commentoptions_{{comment.id}}','{{sharedpost}}commentcontent_{{comment.id}}')"><i class="fas fa-trash-alt"></i> Delete Comment </button></a>
            </div>
        </div>
    </div>
</div>