{% load static %}
{% load humanize %}
{% if likes.count > 0%}
{% for like in likes %}
<div class="like">
 <a href="{% url 'accounts:profile' slug=like.user.slug %}"> 
 <div class="containuserimag">
     <div class="userimage">
         {% if user.image %}
             <img src="{{like.user.image.url}}" alt="Profile Picture">
         {% else %}
             <img src="{% static 'default/default.png' %}" alt="Profile Picture">
         {% endif %}
     </div>
 </div>
 <div class='info'>
     <div class='usernames'>
         <span>{{like.user.first_name}} {{like.user.last_name}}</span>                    
     </div>
 </div>
 </a>
</div> 
{% endfor %}
<button onclick="showpostlikes('{{sharedpost}}postlikes_{{postid}}')">Close</button>
{%endif%}

