{% load humanize %}
{% load static %}
{% if detail %}
<div id='showpostdatail'>
{% endif %}
{% if profile %}
<div id='showprofilepost'>
{% endif %}
<div class='postdetail' id='postdetail_{{post.id}}'>
    {% if share %}
    <div class='sharedpost'>
      <p>{{post.owner.username}} you have shared this post</p>
    </div>
    {%endif%}
    <div class='ownerinfo'>
        <div class="containuserimag">
            <div class="userimage">
                {% if post.owner.image %}
                <a href="{% url 'accounts:profile' slug=post.owner.slug %}">
                    <img src="{{post.owner.image.url}}" alt="Profile Picture">
                </a>
                {% else %}
                <a href="{% url 'accounts:profile' slug=post.owner.slug  %}">
                    <img src="{% static 'default/default.png' %}" alt="Profile Picture">
                </a>
                {% endif %}
            </div>
        </div>
        <div class='info'>
            <div class='usernames'>
                <a href="{% url 'accounts:profile' slug=post.owner.slug  %}">
                    <span>{{post.owner.first_name}} {{post.owner.last_name}}</span>
                    <span>@{{post.owner.username}}</span>
                </a>
            </div>
            <div class='date'>
                <a href="{% url 'posts:post_detail' pk=post.id  %}"><span>{{post.created_at|naturaltime}}</span></a>
            </div>
        </div>
       <div class='postsetting'>
            <span class="postsettingicon" onclick="showpostoptions('postoptions_{{post.id}}')">
                <i class="fas fa-cog"></i>
            </span>
            <div class='postoptions' id="postoptions_{{post.id}}">
                <a></a><button class='updatepost' onclick="showpostaction('posteditform_{{post.id}}','postoptions_{{post.id}}','postdetail_{{post.id}}')"><i class="fas fa-edit"></i> Update Post</button></a>
                <a><button class='deletepost' onclick="showpostaction('postdeleteform_{{post.id}}','postoptions_{{post.id}}','postdetail_{{post.id}}')"><i class="fas fa-trash-alt"></i> Delete Post</button></a>
            </div>
       </div>
    </div>
    <div class='posteditform' id='posteditform_{{post.id}}'>
        <form method="POST"  enctype="multipart/form-data" id='EditPostForm_{{post.id}}'>
            {% csrf_token %}
            <div class='forminput'>
                <textarea name='content' placeholder="What's on your mind,{{ post.owner.username }}?" autofocus>{{post.content}}</textarea>
                <input type='file' name='image' id="editimageinput_{{post.id}}" onchange="readPostURL(this,'updateimagepreview_{{post.id}}')" accept=".png, .jpg, .jpeg"/>
                <label for="editimageinput_{{post.id}}"><i class="far fa-file-image"></i></label>
                <input type="checkbox" id='clearcheckbox_{{post.id}}' name="clear">
            </div> 
            {% if post.image %}
            <div class="updateimagepreview" id="updateimagepreview_{{post.id}}" style="display: block;">
                <img src='{{post.image.url}}' alt='post image'>

            {%else%}
            <div class="updateimagepreview" id="updateimagepreview_{{post.id}}" style="display: none;">
                <img src='' alt='post image'>
            {%endif%}
                <span class='updateimgdelete' onclick="deleteimage('updateimagepreview_{{post.id}}','editimageinput_{{post.id}}','clearcheckbox_{{post.id}}')">
                    <i class="fas fa-times"></i>
                </span>
            </div>
            <div class='posterrors'>
            </div>
        </form>
        <div class='formbuttons'>
            {% url 'posts:update_post' postid=post.id  as url %}
            <button type='submit' form='EditPostForm_{{post.id}}' onclick="UpdatePost(event,'{{url}}','EditPostForm_{{post.id}}','postdetail_{{post.id}}')"> Update </button>
            <button onclick="showpostaction('posteditform_{{post.id}}',null,'postdetail_{{post.id}}')"> Cancel </button>
        </div>
    </div>
    <div class='postdeleteform' id='postdeleteform_{{post.id}}'>
        <form method="POST" enctype="multipart/form-data" id='deletePostForm_{{post.id}}'>
            {% csrf_token %}
            <p>are you sure you want to delete this post ?</p>
        </form>
        <div class='formbuttons'>
            {% url 'posts:delete_post' postid=post.id  as url %}
            <button type='submit' form='deletePostForm_{{post.id}}' onclick="DeletePost(event,'{{url}}','deletePostForm_{{post.id}}','postdetail_{{post.id}}')"> Delete </button>
            <button onclick="showpostaction('postdeleteform_{{post.id}}',null,'postdetail_{{post.id}}')"> Cancel </button>
        </div>
    </div>
    <div class='postcontent'>
         <p>
            {% if post.content %} 
             {{post.content}}
            {% endif %} 
         </p>
         <div class='postimage'>
            {% if post.image %} 
            <img src="{{post.image.url}}" alt='Post Photo'>
            {%endif%}
         </div>
    </div>
    <div class="postreach">
        <div class='left'>
            <a><span class="likecount" onclick="showpostlikes('postlikes_{{post.id}}')"> {{post.likes.count}} like</span></a>
        </div>
        <div class='right'>
            <a><span class="commentcount"> {{post.comments.count}} comment</span></a>
            <a><span class="sharecount" onclick="showpostshares('postshares_{{post.id}}')"> {{post.shares.count}} share</span></a>
        </div>
    </div>
    {%if post.shares.count > 0%}
    <div class="showlikes shares" id='postshares_{{post.id}}'>
        {% if post.shares.count > 0%}
        {% include 'posts/share_post_list.html' with shares=post.getShares postid=post.id %}
        {% endif %}
    </div>
    {% endif %}
    <div class="showlikes" id='postlikes_{{post.id}}'>
        {% if post.likes.count > 0%}
        {% include 'posts/like_post_list.html' with likes=post.getLikes postid=post.id %}
        {% endif %}
    </div>
    <div class='postaction'>
        <table>
            <tr>
                <td>
                    <form id="likesform_{{post.id}}"> 
                        {% csrf_token %} 

                        {% if user in post.likes.all %}
                        {% url 'posts:add-like' postid=post.id as url %}
                        <button class='addlike' style="display: none;" onclick="AddLike(event,'{{url}}','likesform_{{post.id}}','postdetail_{{post.id}}')"><i class="far fa-thumbs-up"></i></button>
                        {% url 'posts:remove-like' postid=post.id as url %}
                         <button class='removelike' style="display: block;" onclick="RemoveLike(event,'{{url}}','likesform_{{post.id}}','postdetail_{{post.id}}')"><i class="fas fa-thumbs-up"></i></button>
                        {% else %}
                        {% url 'posts:add-like' postid=post.id as url %}
                        <button class='addlike' style="display: block;" onclick="AddLike(event,'{{url}}','likesform_{{post.id}}','postdetail_{{post.id}}')"><i class="far fa-thumbs-up"></i></button>
                        {% url 'posts:remove-like' postid=post.id as url %}
                         <button class='removelike' style="display: none;" onclick="RemoveLike(event,'{{url}}','likesform_{{post.id}}','postdetail_{{post.id}}')"><i class="fas fa-thumbs-up"></i></button>
                        {% endif %}                        
                    </form>
                </td>
                <td>
                    <button class='addcomment' onclick="commentfocus('formtextarea_{{post.id}}')"><i class="far fa-comment"></i></button>
                </td>
                <td>
                    <form id="sharesform_{{post.id}}"> 
                    {% csrf_token %} 

                    {% if user in post.shares.all %}
                    {% url 'posts:share' postid=post.id as url %}
                    <button class='addshare' style="display: none;" onclick="Share(event,'{{url}}','sharesform_{{post.id}}','postdetail_{{post.id}}','postshares_{{post.id}}')"><i class="fas fa-share"></i></button>
                    {% url 'posts:remove-share' postid=post.id as url %}
                    <button class='removeshare' style="display: block;" onclick="RemoveShare(event,'{{url}}','sharesform_{{post.id}}','postdetail_{{post.id}}','postshares_{{post.id}}')"><i class="fas fa-share"></i></button>
                    {% else %}
                    {% url 'posts:share' postid=post.id as url %}
                    <button class='addshare'  style="display: block;" onclick="Share(event,'{{url}}','sharesform_{{post.id}}','postdetail_{{post.id}}','postshares_{{post.id}}')"><i class="fas fa-share"></i></button>
                    {% url 'posts:remove-share' postid=post.id as url %}
                    <button class='removeshare' style="display: none;" onclick="RemoveShare(event,'{{url}}','sharesform_{{post.id}}','postdetail_{{post.id}}','postshares_{{post.id}}')"><i class="fas fa-share"></i></button>
                    {% endif %}                        
                    </form>
                </td>
            </tr>
        </table>
    </div>
  <div class='comments'>
         <div class='comment'>
            {% if post.comments.count > 0 %}
                {% for comment in post.getComments %}
                    {% if detail %}
                          {% include 'posts/comment.html' with comment=comment %}                        
                    {% else %}
                         {% if forloop.counter <= 2 %}
                             {% include 'posts/comment.html' with comment=comment %} 
                         {%endif%}
                    {%endif%}     
                {% endfor %}
            {% endif %}
         </div>
        {% if post.comments.count > 2 and detail != True%}
        <div class='showmore'>
            <a href="{% url 'posts:post_detail' pk=post.id  %}">show more comments</a>
        </div>
        {% endif %}
        <div class='addcomment' id='addcomment_{{post.id}}'>
           <form id='formaddcomment_{{post.id}}'>
               {% csrf_token %}
               <textarea placeholder="Write a comment ...." name="message" required id='formtextarea_{{post.id}}'></textarea>
               <input type="hidden" name="post" value='{{post.id}}'>
               {% url 'posts:add-comment' as url %}
               <button type="submit"  onclick="AddComment(event,'{{url}}','formaddcomment_{{post.id}}','postdetail_{{post.id}}')"><i class="fas fa-comment-medical"></i></button>
           </form>
           <div class='commenterror'>
           </div>
        </div>
    </div>
</div>
{% if detail or profile %}
</div>
{% endif %}