{% load static %}
{% load humanize %}
<div id='notification_sidemenu'>
    <div class='notification_header'>
        <h2>
            Notifications :
        </h2>
        <div class='notificationsetting'>
            <span class='settingicon' onclick="ToggleNotificationOptions(event,'notification_0')">
                <i class="fas fa-cog"></i>
            </span>
            <div class='options' id="notification_0">
                {% url 'notifications:change-all' as url%}
                <button class='changeall' onclick="ChangeAllStatus(event,'{{url}}','notification_0')"><i class="fas fa-eye"></i>Mark all as read</button>
                {% url 'notifications:remove-all' as url%}
                <button class='clearall'  onclick="ClearAllNotifcation(event,'{{url}}','notification_0')"><i class="fas fa-trash-alt"></i>Clear all notifications</button>
            </div>
        </div> 
    </div>
    <div class='notificationlist'>
        {% include 'notifications/notification_item.html' with notifications=user.UserNotifcations.all %}
    </div>
    {% if user.UserNotifcations.count == 0 %}
         <div class='norequest' style='display: block;'>
            <p> you have no new notifications yet.</p>
         </div>
    {% else %}
        <div class='norequest' style='display: none;'>
            <p> you have no new notifications yet.</p>
         </div>    
    {%endif%}

</div>